<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý tài khoản khách hàng</title>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách tài khoản khách hàng</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
<!--                                thêm bộ lọc-->
                            </div>
                        </div>
                        <div style="margin-bottom:6px">
                            <label><b>Tìm kiếm:</b></label>
                            <input style="border-radius: 0.3rem; background-color: #f1f1f1;height:30px;width:250px;border: 1px solid #dadada;" onkeyup="page(1,this.value)" placeholder="Nhập tên đăng nhập" type="text" name="search-user" id="search-user">
                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên KH</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Trạng thái</th>
                            </tr>
                            </thead>
                            <tbody id="list-user">


                            </tbody>
                        </table>
                        <div id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
<th:block id="js-resources">
    <script th:inline="javascript">
        $(document).ready(
            function (){
                page(1,'');
            }
        );

        //load dữ liệu
        var checkCurPage=1;
        function page(curPage,query){
            $('#pagination-container').pagination({
                dataSource: function(done) {
                    $.ajax({
                        type: 'GET',
                        contentType : "application/json",
                        url: '/admin/lst_user',
                        data:{
                            type:'GUEST',
                            search:query,
                        },
                        dataType : 'json',
                        success: function(response) {
                            done(response);
                        }
                    });
                },
                pageSize: 5,
                pageNumber:curPage,
                pageRage:1,
                autoHidePrevious: true,
                autoHideNext: true,
                hideWhenLessThanOnePage:true,
                callback: function(data, pagination) {
                    var html = loadTable(data);
                    $('#list-user').html(html);
                    checkCurPage=pagination.pageNumber;
                }
            })
        }

        //for load dữ liệu
        function loadTable(data){
            var html = '';
            $.each(data, function(index, item){
                var phone=item.phone;
                var address=item.address;
                if(item.phone==null){
                    phone="";
                }
                if(item.address==null){
                    address="";
                }
                html+=
                    '<tr>'+
                        '<td>'+item.id+'</td>'+
                        '<td>'+item.fullName+'</td>'+
                        '<td>'+item.username+'</td>'+
                        '<td>'+item.email+'</td>'+
                        '<td>'+phone+'</td>'+
                        '<td>'+address+'</td>';
                        if(item.status==true){
                            html+='<td><span onclick="updateStatus('+item.id+',false)" style="cursor: pointer" class="badge bg-success">Mở</span></td>';
                        }
                        if(item.status==false){
                            html+='<td><span onclick="updateStatus('+item.id+',true)" style="cursor: pointer" class="badge bg-danger">Khóa</span></td>';
                        }
                     html+= '</tr>'
            });
            return html;
        }

        function updateStatus(id,status){
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/admin/update_status_user",
                data: {
                    id:id,
                    status:status,
                },
                dataType: 'json',
                success: function (data) {
                    if(data.message==true){
                        page(checkCurPage,$('#search-user').val().trim());
                        messageSuccess('Thành công!', 'Cập nhật trạng thái tài khoản thành công.');
                    }
                    if(data.message==false){
                        messageError('Thất bại!', 'Cập nhật trạng thái tài khoản thất bại.');
                    }

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }
    </script>
</th:block>
</body>
</html>