<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Dashboard</title>

    <th:block id="css-resources">

    </th:block>
</head>
<body>
<main id="main-content">
    Dashboard
</main>

<th:block id="js-resources">
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- Modal img js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <script th:inline="javascript">
        // $(function () {
        //     let imgs = [[${images}]];
        //     let tmp = [];
        //     for (img of imgs) {
        //         tmp.push({"grid-item-img":img})
        //     }
        //     initListImg(tmp);
        // })

        $('.btn-choose-img').click(function() {
            let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
            if (url == "" || url == null) {
                toastr.warning("Bạn chưa chọn ảnh");
                return;
            }
            closeChooseImgModal();
            $('.thumbnail-container').show();
            $('.invalid-feedback-thumbnail').hide();
            $('.preview-img').attr('src', url);
        })

        $("#modal-add-new-brand").on("hidden.bs.modal", function () {
            closeModalInsertUpdate();
        });

        $("#modal-update-brand").on("hidden.bs.modal", function () {
            closeModalInsertUpdate();
        });

        function closeModalInsertUpdate() {
            $('.thumbnail-container').hide();
            $('#new-brand').val('');
            $('#update-brand').val('');
            $('#update-brand-id').val('');
            $('.preview-img').attr('src', '');
            $('.invalid-feedback').hide();
        }

        $('.btn-add-new-brand').click(function() {
            let newBrand = $('#new-brand').val();
            let thumbnail = $('.preview-img').attr('src');
            isValid = true;

            if (newBrand.length == 0) {
                $('#invalid-feedback-new-brand').show();
                isValid = false;
            }
            if (typeof thumbnail == 'undefined' || thumbnail == '') {
                $('.invalid-feedback-thumbnail').show();
                isValid = false;
            }

            // if (isValid) {
            //     req = {
            //         name: newBrand,
            //         thumbnail: thumbnail
            //     }
            //     var myJSON = JSON.stringify(req);
            //     $.ajax({
            //         url: '/api/admin/brands',
            //         type: 'POST',
            //         data: myJSON,
            //         contentType: "application/json; charset=utf-8",
            //         success: function(data) {
            //             toastr.success("Tạo nhãn hiệu thành công");
            //             $('.list-brand').append(`
            //                 <tr>
            //                     <td class="brand-name" data-id="${data.id}">${data.name}</td>
            //                     <td>
            //                         <div class="logo-div">
            //                             <img src="${data.thumbnail}" alt="logo" class="brand-thumbnail" data-id="${data.id}">
            //                         </div>
            //                     </td>
            //                     <td>0</td>
            //                     <td>
            //                         <button class="btn" onclick="updateBrand(this)" data-id="${data.id}"><i class="fas fa-edit"></i></button>
            //                         <button class="btn" onclick="deleteBrand(this)" data-id="${data.id}"><i class="fas fa-trash-alt"></i></button>
            //                     </td>
            //                 </tr>
            //             `);
            //             $('.modal').modal('hide');
            //         },
            //         error: function(data) {
            //             toastr.warning(data.responseJSON.message);
            //         }
            //     });
            // }
        })

        function updateBrand(btn) {
            let id = $(btn).data('id');
            let name = $('.brand-name[data-id='+id+']').text();
            let thumbnail = $('.brand-thumbnail[data-id='+id+']').attr('src');
            $('.thumbnail-container').show();
            $('#update-brand').val(name);
            $('#update-brand-id').val(id);
            $('.preview-img').attr('src',thumbnail);
            $('#modal-update-brand').modal('show');
        }

        $('.btn-update-brand').click(function() {
            let updateBrand = $('#update-brand').val().trim().replace(/\s+/g,' ');
            let idBrand = $('#update-brand-id').val();
            let thumbnail = $('.preview-img').attr('src');
            isValid = true;

            if (updateBrand.length == 0) {
                $('#invalid-feedback-update-brand').show();
                isValid = false;
            }
            if (typeof thumbnail == 'undefined' || thumbnail == '') {
                $('.invalid-feedback-thumbnail').show();
                isValid = false;
            }

            // if (isValid) {
            //     req = {
            //         name: updateBrand,
            //         thumbnail: thumbnail
            //     }
            //     var myJSON = JSON.stringify(req);
            //     $.ajax({
            //         url: '/api/admin/brands/'+idBrand,
            //         type: 'PUT',
            //         data: myJSON,
            //         contentType: "application/json; charset=utf-8",
            //         success: function(data) {
            //             toastr.success("Cập nhật thành công");
            //             $('.brand-name[data-id='+idBrand+']').text(updateBrand);
            //             $('.brand-thumbnail[data-id='+idBrand+']').attr('src',thumbnail);
            //             $('.modal').modal('hide');
            //         },
            //         error: function(data) {
            //             toastr.warning(data.responseJSON.message);
            //         }
            //     });
            // }
        })

        function deleteBrand(btn) {
            let id = $(btn).data('id');
            $('#delete-brand-id').val(id);
            $('#modal-delete-brand').modal('show');
        }
        toastr.warning("Thất bại");
        toastr.success("Xóa thành công");
        // $('.btn-delete-brand').click(function() {
        //     let idBrand = $('#delete-brand-id').val();
        //     $.ajax({
        //         url: '/api/admin/brands/'+idBrand,
        //         type: 'DELETE',
        //         contentType: "application/json; charset=utf-8",
        //         success: function(data) {
        //             toastr.success("Xóa thành công");
        //             $('.brand-name[data-id='+idBrand+']').parent().remove();
        //             $('.modal').modal('hide');
        //             $('#delete-brand-id').val('');
        //         },
        //         error: function(data) {
        //             toastr.warning(data.responseJSON.message);
        //         }
        //     });
        // })
    </script>
</th:block>
</body>
</html>


