<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
    <title>Đăng nhập</title>
</head>
<body>

<div layout:fragment="login">
<!--    loading-->
    <div style="display: none" class="loader-div" id="loading-send">
        <span class="loader">
            <span></span>
            <span></span>
        </span>
    </div>
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <br>
            <div class="row">
                <th:block th:if="${type=='1'}">
                    <div class=".myAlert-top alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Đăng ký tài khoản thành công!</strong> Mời bạn đăng nhập để trải nghiệm tốt hơn!
                    </div>
                </th:block>
                <div id="form-login-user">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="page-title">Đăng nhập</h2>
                    </div>
                    <div class=row style="display:flex; justify-content: center;">

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <!-- REGISTERED-ACCOUNT START -->
                            <div class="primari-box registered-account">
                                <form class="new-account-box" id="accountLogin" method="post" action="/perform_login">
                                    <!--                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                                    <h3 class="box-subheading">Đăng nhập</h3>
                                    <div>
                                        <th:block th:if="${login_error=='true'&&type!='2'}">
                                            <div class=".myAlert-top alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>Tên đăng nhập hoặc mật khẩu không chính xác.</strong>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${type=='2'}">
                                            <div class=".myAlert-top alert alert-danger" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>Tài khoản của bạn đã bị khóa.</strong>
                                            </div>
                                        </th:block>
                                        <div class="form-content">
                                            <div class="form-group primary-form-group">
                                                <label for="loginemail">Email</label>
                                                <input type="text" value="" name="username" id="loginemail" class="form-control input-feild">
                                            </div>
                                            <div class="form-group primary-form-group">
                                                <label for="password">Mật khẩu</label>
                                                <input type="password" value="" name="password" id="password" class="form-control input-feild">
                                            </div>
                                            <div class="forget-password">
                                                <p><a onclick="forgetPassUser()" style="cursor: pointer">Quên mật khẩu?</a></p>
                                            </div>
                                            <div class="forget-password">
                                                <p><a href="/register">Bạn chưa có tại khoản: Đăng ký</a></p>
                                            </div>
                                            <button class="form-submit">Đăng nhập</button>
                                        </div>


                                    </div>
                                </form>
                                <div class="row">
                                    <!--                                <form action="/signin/facebook" method="POST">-->
                                    <!--                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:15px; padding-right:10px">-->
                                    <!--                                        <input type="hidden" name="scope" value="email, public_profile" />-->
                                    <!--                                        <button class="form-submit-fb" ><i class="fa-brands fa-facebook fa-xl" style="margin-right: 5px;color:white"></i>Facebook</button>-->
                                    <!--                                    </div>-->
                                    <!--                                </form>-->

                                    <!--                                login google-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a th:href="${link}">
                                            <button class="form-submit-gg"><i class="fa-brands fa-google fa-xl" style="margin-right: 5px;color:white"></i>Google</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- REGISTERED-ACCOUNT END -->
                        </div>
                    </div>
                </div>

<!--                form forget pass-->
                <div id="form-forget-pass">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="page-title">Đặt lại mật khẩu</h2>
                    </div>
                    <div class=row style="display:flex; justify-content: center;">

                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <!-- REGISTERED-ACCOUNT START -->
                            <div class="primari-box registered-account">
                                <form class="new-account-box" id="forget-pass">
                                    <h3 class="box-subheading">Đặt lại mật khẩu</h3>
                                    <div>
                                        <div class="form-content">
                                            <div class="form-group primary-form-group">
                                                <label for="loginemail">Email</label>
                                                <input type="text" value="" name="email" id="email" class="form-control input-feild">
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="forget-password">
                                                <p><a onclick="loginUser()" style="cursor: pointer">Đăng nhập</a></p>
                                            </div>
                                            <button class="form-submit">Đặt lại mật khẩu</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- REGISTERED-ACCOUNT END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script layout:fragment="login_js">
    $( document ).ready(function() {
        $("#form-forget-pass").hide();
        $("#form-login-user").show();
    });

    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 6000);


    function forgetPassUser(){
        $("#form-forget-pass").show();
        $("#form-login-user").hide();
    }

    function loginUser(){
        $("#form-forget-pass").hide();
        $("#form-login-user").show();
    }

    //validate forget pass
    Validator({
        form: '#form-forget-pass',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#email'),
            Validator.isEmail('#email')
        ],
        onSubmit: function (form1) {
            $('#loading-send').show();
            var email = $('#email').val().trim();
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/send_link",
                data: {
                    type:2,
                    email:email,
                },
                dataType: 'json',
                success: function (result) {
                    $('#loading-send').hide();
                    if(result.message==true){
                        messageSuccess('Thành công.','Bạn hãy kiểm tra hộp thư email.');
                        backLogin();
                    }
                    if(result.message==false){
                        messageErrorLogin('Địa chỉ email không tồn tại.', '');
                    }
                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    $('#loading-send').hide();
                    console.log("ERROR : ", e);
                }
            });
        }
    });
</script>
</body>
</html>