<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý tài khoản nhân viên</title>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách tài khoản nhân viên</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">

                                <a class="btn btn-add btn-sm" title="Thêm" data-toggle="modal" onclick="remove()"
                                   data-target="#ModalUP"><i class="fas fa-plus"></i>
                                    Thêm mới</a>
                            </div>
                        </div>
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Họ và tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Ngày tạo</th>
                                <th>Quyền</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody id="list-employee">


                            </tbody>
                        </table>
                        <div id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--
  MODAL
-->
    <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                          <span class="thong-tin-thanh-toan">
                            <h5 id="title-employee">Chỉnh sửa thông tin nhân viên</h5>
                          </span>
                        </div>
                    </div>
                    <form action="post" id="form-employee">
                    <div class="row">
                        <div style="display: none" id="div-id" class="form-group col-md-12">
                            <label class="control-label">Mã tài khoản</label>
                            <input name="id" id="id-acc" class="form-control" type="number" readonly>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Họ và tên</label>
                            <input name="fullName" id="fullName-acc" class="form-control" type="text">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Tên đăng nhập</label>
                            <input name="username" id="username-acc" class="form-control" type="text">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-md-12" id="div-pass">
                            <label class="control-label">Mật khẩu (Mặc định)</label>
                            <input name="password" id="pass-acc" class="form-control" type="text" readonly value="Admin@123">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Email</label>
                            <input name="email" id="email-acc" class="form-control" type="text">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Số điện thoại</label>
                            <input name="phone" id="phone-acc" class="form-control" type="text">
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="status-acc" class="control-label">Trạng thái</label>
                            <select class="form-control" id="status-acc" name="status">
                                <option value=true>Mở</option>
                                <option value=false>Khóa</option>
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Phân quyền</label>
                            <table class="table table-hover table-bordered" id="sampleTable" style="font-size: 15px;">
                                <thead>
                                <tr>
                                    <th>Tên quyền</th>
                                    <th>Cho phép</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Toàn quyền</td>
                                    <td><input class="check-all-pe" type="checkbox" id="all-pemison"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý thương hiệu</td>
                                    <td><input class="check-pemison" type="checkbox" id="MB" name="permiss" value="MB"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý sản phẩm</td>
                                    <td><input class="check-pemison" type="checkbox" id="MP" name="permiss" value="MP"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý đơn hàng</td>
                                    <td><input class="check-pemison" type="checkbox" id="MO" name="permiss" value="MO"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý khách hàng</td>
                                    <td><input class="check-pemison" type="checkbox" id="MU" name="permiss" value="MU"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý tin tức</td>
                                    <td><input class="check-pemison" type="checkbox" id="MN" name="permiss" value="MN"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý giới thiệu</td>
                                    <td><input class="check-pemison" type="checkbox" id="MI" name="permiss" value="MI"></td>
                                </tr>
                                <tr>
                                    <td>Quản lý liên hệ</td>
                                    <td><input class="check-pemison" type="checkbox" id="MC" name="permiss" value="MC"></td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="hidden" id="check-pe">
                            <span id="mess-pe" class="form-message"></span>
                        </div>
                    </div>

                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    </form>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
</th:block>
<th:block id="js-resources">
    <script th:inline="javascript">
        $(document).ready(
            function (){
                page(1);

            }
        )
            $("#all-pemison").click(function () {
                $('#mess-pe').text('');
                $(".check-pemison").prop("checked", this.checked);
                $('#check-pe').val($('.check-pemison:checked').length);
            });

            $('.check-pemison').click(function () {
                $('#mess-pe').text('');
                $('#check-pe').val($('.check-pemison:checked').length);
                if ($('.check-pemison:checked').length == $('.check-pemison').length) {
                    $('#all-pemison').prop('checked', true);
                } else {
                    $('#all-pemison').prop('checked', false);
                }
            });


          function remove(){
              $('#title-employee').text('Thêm tài khoản nhân viên');
              $('#div-id').hide();
              $('#fullName-acc').val('');
              $('#username-acc').val('');
              $('#email-acc').val('');
              $('#phone-acc').val('');
              $('.check-pemison').prop('checked', false);
              $('#all-pemison').prop('checked', false);
              $('.form-group').removeClass('invalid');
              $('.form-message').text('');
              $('#div-pass').show();
          }

        //validate
        Validator({
            form: '#form-employee',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullName-acc'),
                Validator.isRequired('#username-acc'),
                Validator.isRequired('#email-acc'),
                Validator.isRequired('#phone-acc'),
                Validator.isUsername('#username-acc'),
                Validator.isEmail('#email-acc'),
                Validator.isPhone('#phone-acc'),
                Validator.isCheckBox('#check-pe'),
            ],
            onSubmit: function (form1) {
                var form = $('#form-employee')[0];
                var data = new FormData(form);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/admin/save_employee",
                    data: data,
                    processData: false, //prevent jQuery from automatically transforming the data into a query string
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (data) {
                        if(data.message==1){
                            $('#ModalUP').modal('hide');
                            remove();
                            messageSuccess('Thành công!', 'Thêm sản tài khoản thành công.');
                            page(1);//về trang đầu tiên
                        }
                        if(data.message==2){
                            $('#ModalUP').modal('hide');
                            remove();
                            messageSuccess('Thành công!', 'Cập nhật tài khoản thành công.');
                            page(checkCurPage);//về trang đầu tiên
                        }
                        if(data.message==3){
                            messageError('Cảnh báo!', 'Tên tài khoản đã tồn tại.');
                        }
                        if(data.message==4){
                            messageError('Cảnh báo!', 'Email đã tồn tại.');
                        }
                        if(data.message==5){
                            messageError('Cảnh báo!', 'Số điện thoại đã tồn tại.');
                        }
                        if(data.message==false){
                            messageError('Thất bại!', '');
                            //searchProduct(checkCurPage);//về trang hiện tại
                        }

                    },
                    error: function (e) {
                        messageError('Thất bại!', 'Lỗi hệ thống.');
                        console.log("ERROR : ", e);
                    }
                });
            }
        });

        function formatDate(dateTime){
            var date = new Date(dateTime);
            var dateStr =
                ("00" + date.getDate()).slice(-2) + "/" +
                ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
                date.getFullYear() + " " +
                ("00" + date.getHours()).slice(-2) + ":" +
                ("00" + date.getMinutes()).slice(-2) + ":" +
                ("00" + date.getSeconds()).slice(-2);
            return dateStr;
        }

          //load dữ liệu
        var pageSize=[[${pageSize}]];
        var checkCurPage=1;
        function page(curPage){
                $('#pagination-container').pagination({
                    dataSource: function(done) {
                        $.ajax({
                            type: 'GET',
                            contentType : "application/json",
                            url: '/admin/lst_user',
                            data:{
                                type:'ADMIN_S',
                            },
                            dataType : 'json',
                            success: function(response) {
                                done(response);
                            }
                        });
                    },
                    pageSize: pageSize,
                    pageNumber:curPage,
                    pageRage:1,
                    autoHidePrevious: true,
                    autoHideNext: true,
                    hideWhenLessThanOnePage:true,
                    callback: function(data, pagination) {
                        var html = loadTable(data);
                        $('#list-employee').html(html);
                        checkCurPage=pagination.pageNumber;
                    }
                })
            }

            //for load dữ liệu
            function loadTable(data){
                var html = '';
                $.each(data, function(index, item){
                    //lấy các code các quyền
                    var roleName='';
                    for(var i=0; i<item.userRoles.length; i++){
                        if(i!=0){
                            roleName+=',';
                        }
                        roleName+=item.userRoles[i].role.code;
                    }
                    var sta='Khóa';
                    if(item.status==true){
                        sta='Mở';
                    }
                    html+=
                        '<tr>'+
                            '<td>'+item.id+'</td>'+
                            '<td>'+item.fullName+'</td>'+
                            '<td>'+item.username+'</td>'+
                            '<td>'+item.email+'</td>'+
                            '<td>'+formatDate(item.createdDate)+'</td>'+
                            '<td>'+item.permission+'</td>'+
                            '<td>'+sta+'</td>'+
                            '<td>'+
                                '<button class="btn btn-primary btn-sm trash" type="button" title="Xóa"'+
                                        'onclick="deleteUser('+item.id+')">'+
                                        '<i class="fas fa-trash-alt"></i>'+
                                '</button>'+
                                '<button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"'+
                                        'onclick="editUser('+item.id+',\''+item.fullName+'\',\''+item.username+'\',\''+item.email+'\',\''+item.phone+'\',\''+item.status+'\',\''+roleName+'\')"' +
                                        'data-toggle="modal"'+
                                        'data-target="#ModalUP"><i class="fas fa-edit"></i></button>'+
                            '</td>'+
                        '</tr>'
                });
                return html;
            }

            function editUser(id,fullName,username,email,phone,status,userRoles){
                remove();
                $('#div-pass').hide();
                $('#div-id').show();
                $('#title-employee').text('Cập nhật tài khoản nhân viên');
                $('#id-acc').val(id);
                $('#fullName-acc').val(fullName);
                $('#username-acc').val(username);
                $('#email-acc').val(email);
                $('#phone-acc').val(phone);
                $('#status-acc').val(status);

                //mảng các quyền
                var roleName = userRoles.split(',');
                $('#check-pe').val(roleName.length);
                if(roleName.length==7){
                    $('#all-pemison').prop('checked', true);
                    $(".check-pemison").prop("checked", true);
                }
                else{
                    for(var i=0; i<roleName.length; i++){
                        $('#' + roleName[i]).prop('checked', true);
                    }
                }
            }

            //delete user
            function deleteUser(id){
                Swal.fire({
                    title: 'Xác nhận xóa!',
                    text: "Bạn có chắc chắn muốn xóa tài khoản này?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'green',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    cancelButtonText:'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            enctype: 'multipart/form-data',
                            url: "/admin/delete_user",
                            data: {
                                id:id,
                            },
                            dataType: 'json',
                            success: function (data) {
                                if(data.message==true){
                                    messageSuccess('Thành công!', 'Xóa tài khoản thành công.');
                                    page(checkCurPage);//về trang hiện tại
                                }
                                if(data.message==false){
                                    messageError('Thất bại!', 'Không thể xóa tài khoản này.');
                                    page(checkCurPage);//về trang hiện tại
                                }

                            },
                            error: function (e) {
                                messageError('Thất bại!','Lỗi hệ thống.')
                                console.log("ERROR : ", e);
                            }
                        });
                    }
                })
            }

    </script>
</th:block>
</body>
</html>