<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<head>
    <title>Tin tức</title>
</head>
<div layout:fragment="news">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- SHOPPING-CART SUMMARY START -->
                    <h2 class="page-title">Thông tin nước hoa</h2>
                    <!-- SHOPPING-CART SUMMARY END -->
                </div>


                <!-- start blog -->

                <div class="albums">
                    <a href="news-detail.html">
                        <div class="album">
                            <div class="img-wrapper"><img src="img/product/sale/1.jpg" alt="img placeholder"></div>
                            <div class="album-info">
                                <div class="title">Nước hoa mới gucci từ pháp</div>
                                <div class="album-name">11/04/2021</div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</div>
                            </div>
                        </div>
                    </a>
                    <a href="news-detail.html">
                        <div class="album">
                            <div class="img-wrapper"><img src="img/product/sale/1.jpg" alt="img placeholder"></div>
                            <div class="album-info">
                                <div class="title">Nước hoa mới gucci từ pháp</div>
                                <div class="album-name">11/04/2021</div>
                                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sed sint doloremque repellat, iste debitis.</div>
                            </div>
                        </div>
                    </a>



                </div>

                <!-- end blog -->

            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
</body>
</html>