<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thương hiệu</title>
    <th:block id="css-resources">
        <style>

        </style>
    </th:block>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách thương hiệu</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">

                                <a class="btn btn-add btn-sm" title="Thêm" data-toggle="modal"
                                   data-target="#modalBrand" onclick="reset()"><i class="fas fa-plus"></i>
                                    Thêm mới</a>
                            </div>

                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Mã thương hiệu</th>
                                <th>Tên thương hiệu</th>
                                <th>Trạng thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody id="list-brand">
<!--                            <th:block th:each="lst:${lstBrand}">-->
<!--                                <tr>-->
<!--                                    <td th:text="${lst.id}">71309005</td>-->
<!--                                    <td th:text="${lst.name}">Bàn ăn gỗ Theresa</td>-->
<!--                                    <td>-->
<!--                                        <th:block th:if="${lst.status==true}">-->
<!--                                            <span class="badge bg-success">Hiển thị</span>-->
<!--                                        </th:block>-->
<!--                                        <th:block th:if="${lst.status==false}">-->
<!--                                            <span class="badge bg-danger">Ẩn</span>-->
<!--                                        </th:block>-->
<!--                                    </td>-->

<!--                                    <td>-->
<!--                                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"-->
<!--                                                onclick="myFunction(this)"><i class="fas fa-trash-alt"></i>-->
<!--                                        </button>-->
<!--                                        <button th:attr="name=${lst.name},status=${lst.status}"-->
<!--                                                class="btn btn-primary btn-sm edit" type="button" title="Sửa"-->
<!--                                                data-toggle="modal"-->
<!--                                                data-target="#modalBrand"-->
<!--                                                th:onclick="|getModalBrand(${lst.id},this.getAttribute('name'),this.getAttribute('status'))|">-->
<!--                                                <i class="fas fa-edit"></i>-->
<!--                                        </button>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                            </th:block>-->


                            </tbody>
                        </table>
                        <div id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!--
  MODAL
-->
    <div class="modal fade" id="modalBrand" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
          <span class="thong-tin-thanh-toan">
            <h5 id="title-brand">Thêm mới thương hiệu</h5>
          </span>
                        </div>
                    </div>
                    <form id="form-brand">
                    <div class="row" id="update-brand">
                            <div class="form-group col-md-12">
                                <label class="control-label">Tên thương hiệu</label>
                                <input id="name-brand" name="name" class="form-control" type="text">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-12 ">
                                <label for="status-brand" class="control-label">Trạng thái</label>
                                <select class="form-control" name="status" id="status-brand">
                                    <option value=true>Hiển thị</option>
                                    <option value=false>Ẩn</option>
                                </select>
                            </div>
                    </div>

                    <BR>
                    <BR>
                    <button class="btn btn-save" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel"  id="cancel-modal" data-dismiss="modal" href="#">Hủy bỏ</a>
                    </form>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
</th:block>


<th:block id="js-resources">
<script th:inline="javascript">
    //Phan trang load table


    checkCurPage=1;

    $(document).ready(
        function (){
            page(1);

        }
    )

    function page(curPage){
        $('#pagination-container').pagination({
            dataSource: function(done) {
                $.ajax({
                    type: 'GET',
                    contentType : "application/json",
                    url: '/admin/lst_brand',
                    dataType : 'json',
                    success: function(response) {
                        done(response);
                    }
                });
            },
            pageSize: 5,
            pageNumber:curPage,
            pageRage:1,
            autoHidePrevious: true,
            autoHideNext: true,
            hideWhenLessThanOnePage:true,
            callback: function(data, pagination) {
                var html = loadTable(data);
                $('#list-brand').html(html);
                checkCurPage=pagination.pageNumber;
            }
        })
    }




    //for load dữ liệu
    function loadTable(data){
        var html = '';
        $.each(data, function(index, item){
            html +=
                '<tr>'+
                '<td>'+item.id+'</td>'+
                '<td>'+item.name+'</td>'+
                '<td>';
                if(item.status==true){
                    html +='<span class="badge bg-success">Hiển thị</span>';
                }
                else{
                    html +='<span class="badge bg-danger">Ẩn</span>';
                }
                html +=
                '</td>'+
                '<td>'+
                    '<button class="btn btn-primary btn-sm trash" type="button" title="Xóa"'+
                            'onclick="deleteBrand('+item.id+')"><i class="fas fa-trash-alt"></i>'+
                    '</button>'+

                    '<button class="btn btn-primary btn-sm edit" type="button" title="Sửa"'+
                            'data-toggle="modal"'+
                            'data-target="#modalBrand"'+
                            'onclick="getModalBrand('+item.id+',\'' + item.name + '\',\'' + item.status + '\')"'+
                            '>'+
                        '<i class="fas fa-edit"></i>'+
                    '</button>'+
                '</td>'+
            '</tr>'
        });
        return html;
    }




//check xem update or insert
    var check=true;
<!--show modal-->
    function getModalBrand(id,name,status){
        check=false;
        $('#title-brand').text('Chỉnh sửa thương hiệu');
        $('#div-id-brand').remove();

        $('#update-brand').prepend(
            '<div class="form-group col-md-12" id="div-id-brand">'+
                '<label class="control-label">Mã thương hiệu </label>'+
                '<input id="id-brand" name="id" class="form-control" type="number" readonly>'+
            '</div>'
        )
        $('#id-brand').val(id);
        $('#name-brand').val(name);
        if(status=="true"){
            $('#status-brand').val("true");
        }
        else{
            $('#status-brand').val("false");
        }
    //    hiển thị modal
    //     $('#modalBrand').modal('show');
    }

//reset modal
function reset(){
    check=true;
    $('#div-id-brand').remove();
    $('#title-brand').text('Thêm mới thương hiệu');
    $('#id-brand').val('');
    $('#name-brand').val('');
    $('#status-brand').val("true");
}

//close modal
    $( "#cancel-modal" ).click(function() {
        $('.form-group').removeClass('invalid');
        $('.form-message').text('');
    });

//validate api khi add or update thanh cong
    Validator({
        form: '#form-brand',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#name-brand'),
        ],
        onSubmit: function (form1) {
            var form = $('#form-brand')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/admin/save_brand",
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#modalBrand').modal('hide');
                    if(data.message==true&&check==true){
                        messageSuccess('Thành công!', 'Thêm thương hiệu thành công');
                        page(1);//về trang đầu tiên
                    }
                    if(data.message==true&&check==false){
                        messageSuccess('Thành công!', 'Cập nhật thương hiệu thành công');
                        page(checkCurPage);//về trang hiện tại
                    }
                    // $(location).attr('href', "/admin/brand?curPage=1");

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }
    });




    //delete brand
    function deleteBrand(id){
        Swal.fire({
            title: 'Xác nhận xóa!',
            text: "Bạn có chắc chắn muốn xóa thương hiệu này?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: 'green',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa',
            cancelButtonText:'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/admin/delete_brand",
                    data: {
                        id:id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.message==true){
                            messageSuccess('Thành công!', 'Xóa thương hiệu thành công.');
                            page(checkCurPage);//về trang hiện tại
                        }
                        if(data.message==false){
                            messageError('Thất bại!', 'Còn sản phẩm thuộc thương hiệu.');
                            page(checkCurPage);//về trang hiện tại
                        }
                        // $(location).attr('href', "/admin/brand?curPage=1");

                    },
                    error: function (e) {
                        messageError('Thất bại!','Lỗi hệ thống.')
                        console.log("ERROR : ", e);
                    }
                });
            }
        })
    }
    </script>
</th:block>

</body>
</html>