<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<div layout:fragment="bill">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- SHOPPING-CART SUMMARY START -->
                    <h2 class="page-title">Đặt hàng</h2>
                    <!-- SHOPPING-CART SUMMARY END -->
                </div>

                <div class="row">
                    <form id="form-order" method="post" action="/checkout">
                        <!-- Thông tin đặt hàng -->
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="personal-infomation">
                                <div class="primari-box personal-info-box" id="personalinfo" style="background: none; border: none; padding-top: 0;">
                                    <h3 class="title-buy">Thông tin mua hàng</h3>
                                    <div class="personal-info-content">
                                        <div class="form-group p-info-group">
                                            <label class="p_buy" for="fullName">Họ tên người nhận <sup></sup></label>
                                            <input type="text" th:value="${user.fullName}" name="fullName" id="fullName" class="form-control input-feild">
                                        </div>
                                        <div class="form-group p-info-group">
                                            <label class="p_buy" for="email">Email <sup></sup></label>
                                            <input type="email" th:value="${user.email}" name="email" id="email" class="form-control input-feild" readonly>
                                        </div>
                                        <div class="form-group p-info-group">
                                            <label class="p_buy" for="email">Số điện thoại<sup></sup></label>
                                            <input type="text" th:value="${user.phone}" name="phone" id="phone" class="form-control input-feild">
<!--                                            <span style="color: red" th:if="${errorUser}" th:text="${errorUser}">Số điện thoại đã tồn tại</span>-->
                                        </div>
                                        <div class="form-group p-info-group">
                                            <label class="p_buy" for="address">Địa chỉ<sup></sup></label>
                                            <input type="address" th:value="${user.address}" name="address" id="address" class="form-control input-feild">
                                        </div>
                                        <div class="form-group p-info-group">
                                            <label class="p_buy" for="note">Ghi chú<sup></sup></label>
                                            <textarea name="note" id="note" rows="5" class="form-control col-md-9"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Vận chuyển -->
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <h3 class="title-buy">Thanh toán</h3>
                            <span class="form-message"></span>
                            <input type="radio" checked="true" name="payment" value="1" onclick="show1();" />
                            Thanh toán khi nhận hàng
                            <br>
                            <input type="radio" name="payment" value="2" onclick="show2();" />
                            Chuyển khoản qua ngân hàng


                            <br>
                            <div id="div1" class="content-buy">
                                <p>Bước 1: Quý khách vui lòng thanh toán hóa đơn theo thông tin sau:</p>
                                <p>- Ngân hàng BIDV</p>
                                <p>- STK: 1234567</p>
                                <p>- Chủ TK: Trần Thị Quỳnh</p>
                                <p>- Nội dung CK: Họ Tên + SDT</p>
                                <p>Bước 2: D.Perfume sẽ gọi điện thoại cho Quý khách để xác nhận thanh toán</p>
                            </div>
                        </div>

                        <!-- Chi tiết sản phẩm -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <h3 class="title-buy">Chi tiết sản phẩm</h3>
                            <th:block th:each="pro:${lstPro}">
                                <div class="product">
                                    <div class="product-image-cart">
                                        <img th:src="@{'uploads/product/'+${pro.image}}">
                                    </div>
                                    <div class="product-details" style="width:80%">
                                        <p class="product-description" th:text="${pro.name}">Nước hoa abcdxyz</p>
                                        <div class="product-title" th:text="'Số lượng: '+${pro.amount}">Số lượng: 1</div>
                                        <div class="product-title" th:text="'Giá: '+${#numbers.formatDecimal(pro.price, 3, 'POINT', 0, 'POINT')}+'₫'">Giá: 100.000đ</div>
                                    </div>
                                </div>
                            </th:block>
                            <!-- Tổng tiền -->
                            <div class="">
                                <div class="">
                                    <h3 class="title-buy" th:text="'Tổng tiền: '+${#numbers.formatDecimal(totalPrice, 3, 'POINT', 0, 'POINT')}+'₫'">Tổng tiền: 1.000.000đ</h3>
                                </div>

                                <button class="checkout" style="float:none; margin-top:5px;background: #155946">Đặt hàng</button>
                            </div>


                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script layout:fragment="bill_js" th:inline="javascript">
    //validate form
    $.validator.methods.phone = function( value, element ) {
        return this.optional( element ) || /(((\+|)84)|0)(3|5|7|8|9)+([0-9]{8})\b/.test( value );
    }


    //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
    $("#form-order").validate({
        rules: {
            fullName: "required",
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true,
                phone:true,
            },
            address: 'required'
        },
        messages: {
            fullName: "Vui lòng nhập họ tên",
            email: {
                required: "Vui lòng nhập email",
                email: "Địa chỉ email không hợp lệ"
            },
            phone: {
                required: "Vui lòng nhập số điện thoại",
                phone: "Số điện thoại không hợp lệ",
            },
            address:"Vui lòng nhập địa chỉ"
        }
    });

    function show2(){
        document.getElementById('div1').style.display = 'block';
    }
    function show1(){
        document.getElementById('div1').style.display ='none';
    }

    //Đặt hàng

</script>

</body>
</html>