<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${headName}">Title</title>
</head>
<body>
<div layout:fragment="all_product">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="right-all-product">
                        <!-- PRODUCT-CATEGORY-HEADER START -->
                        <!-- PRODUCT-CATEGORY-HEADER END -->
                        <div class="product-category-title">
                            <!-- PRODUCT-CATEGORY-TITLE START -->
                            <br>
                            <h1>
                                <span class="cat-name" th:text="${headName}">title</span>
                            </h1>
                            <!-- PRODUCT-CATEGORY-TITLE END -->
                        </div>
                        <div class="product-shooting-area">
                            <div class="product-shooting-bar-all-product">
                                <form action="/products" method="get">
                                    <input type="hidden" name="sx" th:value="${sex}">
                                    <input type="hidden" name="id" th:value="${id}">
                                    <input type="hidden" name="typeP" th:value="${typeP}">
                                    <input type="hidden" name="typeM" th:value="${typeMenu}">
                                    <input type="hidden" name="curPage" th:value="1">
                                    <!-- SHOORT-BY START -->
                                    <div class="shoort-by">
                                        <label for="productShort">Xếp theo</label>
                                        <div class="short-select-option">
                                            <select name="typeF" id="productShort">
                                                <option value="3" th:selected="${typeF==3} ? selected">Tên nước hoa</option>
                                                <option value="1" th:selected="${typeF==1} ? selected">Giá tăng dần</option>
                                                <option value="2" th:selected="${typeF==2} ? selected">Giá giảm dần</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- SHOORT-BY END -->
                                    <button type="submit" class="btn btn-primary btn-sm" style="background-color:#155946">Sắp xếp</button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT START -->
                    <div class="all-gategory-product">
                        <div class="row">
                            <th:block th:if="${totalPage==0}">
                                <h2 style="text-align: center; padding: 20px">Không có sản phẩm nào!</h2>
                            </th:block>
                            <ul class="gategory-product" th:each="pro:${lstPro}">
                                <!-- SINGLE ITEM START -->
                                <li class="gategory-product-list col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="single-product-item">
                                        <div class="product-image">
                                            <a th:href="@{'/single_product?id='+${pro.id}}"><img th:src="@{'uploads/product/'+${pro.image}}" alt="product-image" /></a>
                                            <div class="overlay-content">
                                                <ul>
                                                    <li><a href="#" title="Tìm kiếm"><i class="fa fa-search"></i></a></li>
                                                    <li><a th:onclick="'addProInCart(1,'+${pro.id}+')'" title="Thêm vào giỏ"><i class="fa fa-shopping-cart"></i></a></li>
                                                    <li><a href="#" title="Tải lại"><i class="fa fa-retweet"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="customar-comments-box">
                                            </div>
                                            <a th:href="@{'/single_product?id='+${pro.id}}" th:text="${pro.name}" ></a>
                                            <div class="price-box">
                                                <span class="price" th:text="${#numbers.formatDecimal(pro.price, 3, 'POINT', 0, 'POINT')}+'₫'">$16.51</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- SINGLE ITEM END -->
                            </ul>
                        </div>
                    </div>

                    <!-- PRODUCT-SHOOTING-RESULT START -->
                    <div class="product-shooting-result product-shooting-result-border">
                        <div th:if="${totalPage != 1 && totalPage!=0}" class="form-group col-md-11 pagination-container" style="margin: 0px">
                            <ul class="pagination" style="margin: 0px">
                                <li th:class="${curPage == 1} ? disabled">
                                    <a class="pageLink" th:href="@{/products(id=${id},sx=${sex},typeP=${typeP},typeF=${typeF},typeM=${typeMenu},curPage=1)}">&laquo;</a>
                                </li>
                                <li th:class="${curPage == 1} ? disabled">
                                    <a class="pageLink" th:href="@{/products(id=${id},sx=${sex},typeP=${typeP},typeF=${typeF},typeM=${typeMenu},curPage=${curPage - 1})}">&larr;</a>
                                </li>
                                <li th:class="${curPage == page} ? 'active pointer-disabled'"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                    <a class="pageLink" th:href="@{/products(id=${id},sx=${sex},typeP=${typeP},typeF=${typeF},typeM=${typeMenu},curPage=${page})}"
                                       th:text="${page}"></a>
                                </li>
                                <li th:class="${curPage == totalPage} ? disabled">
                                    <a class="pageLink"
                                       th:href="@{/products(id=${id},sx=${sex},typeP=${typeP},typeF=${typeF},typeM=${typeMenu},curPage=${curPage + 1})}">&rarr;</a>
                                </li>
                                <li th:class="${curPage == totalPage} ? disabled">
                                    <a class="pageLink"
                                       th:href="@{/products(id=${id},sx=${sex},typeP=${typeP},typeF=${typeF},typeM=${typeMenu},curPage=${totalPage})}">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- PRODUCT-SHOOTING-RESULT END -->
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
</body>
</html>