<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
  <meta charset="UTF-8">
  <title >Title</title>
</head>
<body>
<div layout:fragment="all_product">
  <!-- MAIN-CONTENT-SECTION START -->
  <section class="main-content-section">
    <div class="container">
      <div class="row">
        <!-- filter -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <!-- PRODUCT-LEFT-SIDEBAR START -->
          <div class="product-left-sidebar">
            <br>
            <br>
            <br>
            <h2 style="border-top: none;" class="left-title pro-g-page-title">Bộ lọc</h2>

            <!-- SINGLE SIDEBAR CATEGORIES START -->

            <form id="form-filter" method="post">
            <div class="product-single-sidebar">
              <span class="sidebar-title">Xếp theo</span>
              <div class="short-select-option">
                <select name="sortBy" id="input-sort">
                  <option value="name">Tên</option>
                  <option value="price1">Giá tăng dần</option>
                  <option value="price2">Giá giảm dần</option>
                </select>
              </div>
              <br>
            </div>

            <div class="product-single-sidebar" id="div-gender">
              <span class="sidebar-title">Giới tính</span>
              <div class="short-select-option">
                <select name="gender" id="input-gender">
                  <option value="">--Tất cả--</option>
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                  <option value="Unisex">Unisex</option>
                </select>
              </div>
              <br>
            </div>
              <input name="type" type="hidden" th:value="${type}">
              <input name="search" type="hidden" id="query-search" th:value="${search}">
              <input name="idBrand" type="hidden" th:value="${idBrand}">
              <input name="sex" type="hidden" id="sex-filter" th:value="${sex}">
            <!-- SINGLE SIDEBAR MANUFACTURER START -->
            <div class="product-single-sidebar">
              <span class="sidebar-title">Giá sản phẩm</span>
              <ul>
                <li>
                  <label class="cheker">
                    <input value=1 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>Dưới 200.000đ</p>
                </li>
                <li>
                  <label class="cheker">
                    <input value=2 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>200.000 - 400.000đ</p>
                </li>
                <li>
                  <label class="cheker">
                    <input value=3 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>400.000 - 600.000đ</p>
                </li>
                <li>
                  <label class="cheker">
                    <input value=4 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>600.000 - 800.000đ</p>
                </li>
                <li>
                  <label class="cheker">
                    <input value=5 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>800.000 - 1.000.000đ</p>
                </li>
                <li>
                  <label class="cheker">
                    <input value=6 class="input-price" type="checkbox" name="prices"/>
                    <span></span>
                  </label>
                  <p>Trên 1.000.000đ</p>
                </li>
              </ul>
            </div>
            <!-- SINGLE SIDEBAR MANUFACTURER END -->

            <!-- SINGLE SIDEBAR COLOR START -->
            <div class="product-single-sidebar" id="div-brand">
              <span class="sidebar-title">Thương hiệu</span>
              <ul class="product-color-var" id="all-brand-filter">
              </ul>
            </div>
            <!-- SINGLE SIDEBAR COLOR END -->
            </form>

          </div>

          <!-- PRODUCT-LEFT-SIDEBAR END -->

        </div>
        <!--  -->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="right-all-product">
            <!-- PRODUCT-CATEGORY-HEADER START -->


            <!-- PRODUCT-CATEGORY-HEADER END -->
            <div class="product-category-title">
              <!-- PRODUCT-CATEGORY-TITLE START -->
              <br>
              <h1>
                <span class="cat-name" id="title-pro"></span>
              </h1>
              <!-- PRODUCT-CATEGORY-TITLE END -->
            </div>
            <div class="product-shooting-area">
              <div class="product-shooting-bar-all-product">
                <h2 style="text-align: center;" id="message-search"></h2>
              </div>

            </div>
          </div>
          <!-- ALL GATEGORY-PRODUCT START -->
          <div class="all-gategory-product">
            <div class="row">
              <ul class="gategory-product" id="list-product-user">
<!--                  list sản phẩm-->
              </ul>
            </div>
          </div>
          <!-- ALL GATEGORY-PRODUCT END -->
          <!-- PRODUCT-SHOOTING-RESULT START -->
          <div class="product-shooting-result product-shooting-result-border">
            <h2 style="text-align: center;" id="message-pro"></h2>
            <div id="pagination-container"></div>
          </div>
          <!-- PRODUCT-SHOOTING-RESULT END -->
        </div>
      </div>
    </div>
  </section>
  <!-- MAIN-CONTENT-SECTION END -->
</div>

<script layout:fragment="all_product_js" th:inline="javascript">
  $(document).ready(function() {
    page();
  });



  var type=[[${type}]]

  //lấy tất cả sp || lấy sản phẩm theo query
  if(type==1||type==4){
    showBrand();
  }
  //get product theo giới tính
  if(type==3){
    //Bỏ lọc theo giới tính
    $('#div-gender').remove();
    //show brand
    showBrand();
  }

  //get product theo thương hiệu
  if(type==2){
    //Bỏ lọc theo thương hiệu
    $('#div-brand').remove();
    //show brand
  }



  function showBrand() {
    $.ajax({
      type : "GET",
      contentType : "application/json",
      url : "/all_brand",
      data : {
        // test:'do'
      },
      dataType : 'json',
      // timeout : 100000,
      success : function(data) {
        var html='';
        $.each(data,function (i,item){
          html+=
          '<li>'+
            '<label class="cheker">'+
              '<input class="input-brand" value='+item.id+' type="checkbox" name="brands" />'+
              '<span></span>'+
            '</label>'+
            '<p>'+item.name+'</p>'+
          '</li>';
        })
        $('#all-brand-filter').html(html);
      },
      error : function(e) {
        console.log("ERROR: ", e);
      }
    });
  }

  //Khi thay đổi loại sắp xếp
  $("#input-sort").change(function () {
    page();
  });

  //Khi thay đổi giới tính
  $("#input-gender").change(function () {
    page();
  });

  //Khi kích vào 1 loại giá tiền
  $(document).on('click','.input-price', function(){
    page();
  });

  //Khi kích vào 1 thương hiệu
  $(document).on('click','.input-brand', function(){
    page();
  });


  //load san pham
    function page(){
      $('#pagination-container').pagination({
        dataSource:  function (done){
          var form = $('#form-filter')[0];
          var dataForm = new FormData(form);
          $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/list_pro_filter",
            data: dataForm,
            processData: false,
            contentType: false,
            cache: false,
            // timeout: 600000,
            success: function (data) {
              done(data);
            },
          });
        },
        pageSize: 12,
        pageNumber:1,
        // pageRage:1,
        autoHidePrevious: true,
        autoHideNext: true,
        hideWhenLessThanOnePage:true,
        callback: function(data, pagination) {
          $('#message-pro').text('');
          $('#message-search').text('');
          var html = loadTable(data);
          $('#list-product-user').html(html);
          $("html, body").animate({ scrollTop: 250 }, "slow");
          if(type==1){
            $('#title-pro').text('Tất cả sản phẩm');
          }
          if(type==2){
            $('#title-pro').text('Nước hoa thương hiệu '+[[${nameBrand}]]);
          }
          if(type==3){
            $('#title-pro').text('Nước hoa '+$('#sex-filter').val());
          }
          if(type==4){
            $('#title-pro').text('');
            var query = $('#query-search').val()
            $('#message-search').text('Kết quả tìm kiếm với từ khóa "'+query+'"');
          }
          if(data.length==0){
            $('#message-pro').text('Không có sản phẩm nào!');
          }

          // $(window).scrollTop(0);
        }
      })
    }
  //for load dữ liệu
  function loadTable(data){
    var html = '';
    $.each(data, function(index, item){
      var total=item.price.toLocaleString({style : 'currency', currency : 'VND'});
      html +=
              '<li class="gategory-product-list col-lg-3 col-md-4 col-sm-6 col-xs-12">'+
                '<div class="single-product-item">'+
                  '<div class="product-image-all" style="">'+
                    '<a href="/single_product?id='+item.id+'"><img class="image-all" src="/uploads/product/'+item.image+'" alt="product-image"/></a>'+
                    '<div class="overlay-content">'+
                      '<ul>'+
                        '<li><a href="#" title="Tìm kiếm"><i class="fa fa-search"></i></a></li>'+
                        '<li><a onclick="addProInCart(1,'+item.id+')" title="Thêm vào giỏ"><i class="fa fa-shopping-cart"></i></a></li>'+
                        '<li><a href="#" title="Tải lại"><i class="fa fa-retweet"></i></a></li>'+
                      '</ul>'+
                    '</div>'+
                  '</div>'+
                  '<div class="product-info">'+
                    '<div class="customar-comments-box">'+
                    '</div>'+
                    '<a href="/single_product?id='+item.id+'">'+item.name+'</a>'+
                    '<div class="price-box">'+
                      '<span class="price">'+total+'đ</span>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</li>'

    });
    return html;
  }

</script>
</body>
</html>