<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${singleProduct.name}"></title>
</head>
<body>
    <div layout:fragment="details_product">
        <!-- MAIN-CONTENT-SECTION START -->
        <section class="main-content-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br>
                        <!-- BSTORE-BREADCRUMB START -->
                        <!-- <div class="bstore-breadcrumb">
                            <a href="index.html">HOMe<span><i class="fa fa-caret-right"></i> </span> </a>
                            <span> <i class="fa fa-caret-right"> </i> </span>
                            <a href="shop-gird.html"> women </a>
                            <span> Faded Short Sleeves T-shirt </span>
                        </div> -->
                        <!-- BSTORE-BREADCRUMB END -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- SINGLE-PRODUCT-DESCRIPTION START -->
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                <div class="single-product-view">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="thumbnail_1">
                                            <div class="single-product-image" >
<!--                                                th:style="|background-image: url(@{'uploads/product/'+${singleProduct.image}})|"-->
                                                <img th:src="@{'uploads/product/'+${singleProduct.image}}" alt="single-product-image" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                                <div class="single-product-descirption">

                                    <h2 class="name-single-product" th:text="${singleProduct.name}">Nước hoa Boss 150ml</h2>
                                    <div class="single-product-condition">
                                        <p>Thương hiệu: <span th:text="${nameTrademark.name}">Gucci</span></p>
                                        <p>Xuất xứ: <span th:text="${singleProduct.origin}">Pháp</span></p>
                                        <p>Năm sản xuất: <span th:text="${singleProduct.manufactureYear}">Pháp</span></p>
                                        <p>Mùi hương: <span th:text="${singleProduct.fragrant}">Hoa nhài</span></p>
                                        <p>Giới tính: <span th:text="${singleProduct.gender}">Nam</span></p>
                                        <p>Bảo hành: <span th:text="${singleProduct.guarantee}">1 tháng</span></p>
                                    </div>
                                    <div class="single-product-price">
                                        <h2 th:text="${#numbers.formatDecimal(singleProduct.price, 3, 'POINT', 0, 'POINT')}+'₫'">500.000₫</h2>
                                    </div>
                                    <div class="single-product-desc">
                                        <p th:text="${singleProduct.shortDescription}">sorize with</p>
                                        <div class="product-in-stock">
                                            <!-- <p>300 Items<span>In stock</span></p> -->
                                        </div>
                                    </div>
                                    <div class="single-product-quantity">
                                        <p style="color: black; padding-top:5px; margin-right: 3.5%; ">Số lượng</p>
                                        <div class="cart-quantity">
                                            <div class="cart-plus-minus-button single-qty-btn">
                                                <input class="cart-plus-minus sing-pro-qty" type="number" th:id="amount-add-cart+${singleProduct.id}" name="qtybutton" value="1" min="1">
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="single-product-add-cart">
                                        <a class="add-cart-text" th:onclick="'addProInCart(2,'+${singleProduct.id}+')'" title="Thêm vào giỏ">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!-- SINGLE-PRODUCT-DESCRIPTION END -->
                        <!-- SINGLE-PRODUCT INFO TAB START -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product-more-info-tab">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs more-info-tab">
                                        <li class="active"><a href="#moreinfo" data-toggle="tab">Thông tin sản phẩm</a></li>
                                        <li><a href="#moreinfo1" data-toggle="tab">Bảo hành, đổi trả</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="moreinfo">
                                            <div class="tab-description" id="detail-product">
<!--                                                <p th:text="${singleProduct.detailDescription}">sories including shoes, hats, belts and more!</p>-->
                                            </div>
                                        </div>
                                        <div class="tab-pane active" id="moreinfo1">
                                            <div class="tab-description">
                                                <h2 style="font-family: Arial, Helvetica, Arial, sans-serif; font-weight: normal; margin-right: 0px; margin-bottom: 0.5em; margin-left: 0px; line-height: 24px; font-size: 20px !important;">
    <span style="font-size: 16px; line-height: 24px;">
        <span style="line-height: normal; font-size: 20px !important;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <b style="font-weight: bold; line-height: 24px;">
                    <i style="line-height: 24px;">
                        <span style="line-height: 24px; font-family: Arial, sans-serif;">
                            <span style="line-height: 24px;"><font color="#295218">Cam kết sản phẩm chính hãng</font></span>
                        </span>
                    </i>
                </b>
            </span>
        </span>
    </span>
                                                </h2>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <span style="line-height: 24px; font-family: Arial, sans-serif;">
                    Với mong muốn mang lại sự tin tưởng &amp; hài lòng cho Quý khách mua hàng tại D.Perfume<b style="font-weight: bold; line-height: 24px;">&nbsp;</b>. Chúng tôi cam kết tất cả sản phẩm đều là&nbsp;nước hoa chính
                    hãng&nbsp;(Authentic) 100% nhập khẩu từ Pháp, Mỹ và các nước Châu âu khác…&nbsp;
                </span>
            </span>
        </span>
    </span>
                                                </p>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <span style="line-height: 24px; font-family: Arial, sans-serif;">
                    Tất cả sản phẩm bán ra đều có thẻ bảo hành cho từng sản phẩm đi kèm.&nbsp;Và hơn thế, chúng tôi luôn mong muốn mang đến cho Quý khách những&nbsp;dịch vụ hài lòng và những sản phẩm vừa ý nhất.
                </span>
            </span>
        </span>
    </span>
                                                </p>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <span style="line-height: 24px; font-family: Arial, sans-serif;">Trường hợp Quý khách phát hiện sản phẩm chúng tôi là hàng FAKE (hàng giả mạo) Quý khách sẽ được bồi hoàn 200% giá trị sản phẩm.</span>
            </span>
        </span>
    </span>
                                                </p>
                                                <h2 style="font-family: Arial, Helvetica, Arial, sans-serif; font-weight: normal; margin: 1em 0px 13px; line-height: 24px; text-align: justify; font-size: 20px !important;">
    <span style="font-size: 16px; line-height: 24px;">
        <span style="line-height: normal; font-size: 20px !important;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <b style="font-weight: bold; line-height: 24px;">
                    <i style="line-height: 24px;">
                        <span style="line-height: 24px; font-family: Arial, sans-serif;">
                            <span style="line-height: 24px;"><font color="#295218">Quy định bảo hành</font></span>
                        </span>
                    </i>
                </b>
            </span>
        </span>
    </span>
                                                </h2>
                                                <ul style="font-size: 16px; margin-right: 0px; margin-bottom: 15px; margin-left: 20px; padding: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif;">
                                                    <li style="margin-bottom: 13px; line-height: 24px; margin-left: 16px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">
                        Trong thời hạn 14 ngày kể từ ngày mua. Nếu&nbsp;sản phẩm bị lỗi do nhà sản xuất, sản phẩm kém chất lượng, sản phẩm không đúng chủng loại, mẫu mã, số lượng như đã đặt hàng, Quý khách không hài lòng chất lượng – Quý
                        khách sẽ được đổi sang sản phẩm khác hoặc trả lại mà không mất khoản phí nào.&nbsp;&nbsp;
                    </span>
                </span>
            </span>
        </span>
                                                    </li>
                                                    <li style="margin-bottom: 13px; line-height: 24px; margin-left: 16px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">
                        Sản phẩm bảo hành&nbsp;phải có đầy đủ tem, hộp của nhà sản xuất và&nbsp;thẻ&nbsp;bảo hành của D.Perfume<b style="font-weight: bold; line-height: 24px;">&nbsp;</b>có ghi mã số chai được bảo hành.&nbsp;
                    </span>
                </span>
            </span>
        </span>
                                                    </li>
                                                    <li style="margin-bottom: 13px; line-height: 24px; margin-left: 16px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">
                        Bảo hành mùi hương sản phẩm 24 tháng : Trường hợp quý khách mua hàng và sử dụng trong vòng 24 tháng kể từ ngày mua mà sản phẩm bị biến đổi mùi hương quá mức cho phép của nhà sản xuất (mùi hương bị biến đổi hoàn toàn
                        &amp; không còn như mùi hương ban đầu) thì Quý khách sẽ được đổi sản phẩm theo giá trị % hiện tại (lưu ý : chúng tôi không bảo hành thân, vỏ chai, đầu xịt)
                    </span>
                </span>
            </span>
        </span>
                                                    </li>
                                                </ul>
                                                <div style="font-size: 16px; margin-bottom: 15px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
                                                    <p style="margin-right: 0px; margin-bottom: 15px; margin-left: 0px; line-height: 24px; text-align: center;"><span style="line-height: 24px;"></span></p>
                                                </div>
                                                <h2 style="font-family: Arial, Helvetica, Arial, sans-serif; font-weight: normal; margin: 1em 0px 13px; line-height: 24px; text-align: justify; font-size: 20px !important;">
    <span style="font-size: 16px; line-height: 24px;">
        <span style="line-height: normal; font-size: 20px !important;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <b style="font-weight: bold; line-height: 24px;">
                    <i style="line-height: 24px;">
                        <span style="line-height: 24px; font-family: Arial, sans-serif;">
                            <span style="line-height: 24px;"><font color="#295218">Quy định đổi trả sản phẩm</font></span>
                        </span>
                    </i>
                </b>
            </span>
        </span>
    </span>
                                                </h2>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <span style="line-height: 24px; font-family: Arial, sans-serif;">
                    Trường hợp Quý khách không thích&nbsp;mùi hương&nbsp;của dòng nước hoa này, hay muốn đổi sang sản phẩm khác trong thời hạn mua hàng chưa quá 14 ngày thì Quý khách vẫn được đổi sang sản phẩm khác với khoản phí 10% giá trị
                    sản phẩm đổi và&nbsp;trừ % hao hụt lượng&nbsp;dung dịch sản phẩm đã sử dụng (nếu có). Nhưng không quá 5%.
                </span>
            </span>
        </span>
    </span>
                                                </p>
                                                <h2 style="font-family: Arial, Helvetica, Arial, sans-serif; font-weight: normal; margin: 1em 0px 13px; line-height: 24px; text-align: justify; font-size: 20px !important;">
    <span style="font-size: 16px; line-height: 24px;">
        <span style="line-height: normal; font-size: 20px !important;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <b style="font-weight: bold; line-height: 24px;">
                    <i style="line-height: 24px;">
                        <span style="line-height: 24px; font-family: Arial, sans-serif;">
                            <span style="line-height: 24px;"><font color="#295218">Những trường hợp không bảo hành, đổi trả</font></span>
                        </span>
                    </i>
                </b>
            </span>
        </span>
    </span>
                                                </h2>
                                                <ul style="font-size: 16px; margin-right: 0px; margin-bottom: 15px; margin-left: 20px; padding: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif;">
                                                    <li style="margin-bottom: 13px; line-height: 24px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">
                        Sản phẩm không phải do D.Perfume bán ra&nbsp;(Không có hóa đơn đầy đủ, không có tem bảo hành của D.Perfume)&nbsp; hoặc tem bảo hành bị rách, biến dạng
                    </span>
                </span>
            </span>
        </span>
                                                    </li>
                                                    <li style="margin-bottom: 13px; line-height: 24px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;"><span style="line-height: 24px; font-family: Arial, sans-serif;">Sản phẩm không được bảo quản theo quy định của nhà sản xuất, bị rơi vỡ.</span></span>
            </span>
        </span>
                                                    </li>
                                                    <li style="margin-bottom: 13px; line-height: 24px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">Sản phẩm đã bị can thiệp vào các phần nắp chai, vòi xịt, tem bảo hành của D.Perfume</span>
                </span>
            </span>
        </span>
                                                    </li>
                                                    <li style="margin-bottom: 13px; line-height: 24px; text-align: justify;">
        <span style="line-height: 24px;">
            <span style="line-height: normal;">
                <span style="line-height: 24px; font-family: 'Times New Roman', serif;"><span style="line-height: 24px; font-family: Arial, sans-serif;">Quá thời hạn bảo hành, đổi trả theo&nbsp;quy định là 14 ngày.</span></span>
            </span>
        </span>
                                                    </li>
                                                </ul>
                                                <h2 style="font-family: Arial, Helvetica, Arial, sans-serif; font-weight: normal; margin: 1em 0px 13px; line-height: 24px; text-align: justify; font-size: 20px !important;">
    <span style="font-size: 16px; line-height: 24px;">
        <span style="line-height: normal; font-size: 20px !important;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <b style="font-weight: bold; line-height: 24px;">
                    <i style="line-height: 24px;">
                        <span style="line-height: 24px; font-family: Arial, sans-serif;">
                            <span style="line-height: 24px;"><font color="#295218">Bộ phận tiếp nhận bảo hành &amp; đổi trả</font></span>
                        </span>
                    </i>
                </b>
            </span>
        </span>
    </span>
                                                </h2>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <span style="line-height: 24px; font-family: Arial, sans-serif;">
                    Quý khách vui lòng liên lạc với <b>D.P<span style="line-height: 24px;">erfume</span></b>&nbsp;thông qua&nbsp;tổng đài hổ trợ&nbsp;<b style="font-weight: bold; line-height: 24px;">0978458751</b>&nbsp;hoặc trực tiếp đến
                    Showroom&nbsp;của chúng tôi từ 8h – 21h&nbsp;hàng ngày.&nbsp;
                </span>
            </span>
        </span>
    </span>
                                                </p>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif;">
    <span style="line-height: 24px;">
        Hãy liên hệ Hotline:&nbsp;<strong style="font-weight: bold; line-height: 24px;"><b style="font-weight: bold; font-family: Arial, sans-serif; text-align: justify; line-height: 24px;">0978458751</b>&nbsp;</strong>để được hỗ trợ.
    </span>
                                                </p>
                                                <p style="font-size: 16px; margin-right: 0px; margin-bottom: 13px; margin-left: 0px; line-height: 24px; color: rgb(34, 34, 34); font-family: Arial, Helvetica, Arial, sans-serif; text-align: justify;">
    <span style="line-height: 24px;">
        <span style="line-height: normal;">
            <span style="line-height: 24px; font-family: 'Times New Roman', serif;">
                <i style="line-height: 24px;">
                    <span style="line-height: 24px; font-family: Arial, sans-serif;">
                        Chúng tôi rất mong tiếp tục nhận được sự ủng hộ và góp ý của Quý khách để ngày càng hoàn thiện dịch vụ chăm sóc khách hàng, nhằm mang đến sự hài lòng của Quý khách !
                    </span>
                </i>
            </span>
        </span>
    </span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SINGLE-PRODUCT INFO TAB END -->


                    </div>

                </div>
            </div>
        </section>
        <!-- MAIN-CONTENT-SECTION END -->
    </div>
</body>
<script layout:fragment="details_product_js" th:inline="javascript">
    $('#detail-product').html([[${singleProduct.detailDescription}]])
</script>
</html>