<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${singleProduct.name}"></title>
</head>
<body>
    <div layout:fragment="details_product">
        <!-- MAIN-CONTENT-SECTION START -->
        <section class="main-content-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br>
                        <!-- BSTORE-BREADCRUMB START -->
                        <!-- <div class="bstore-breadcrumb">
                            <a href="index.html">HOMe<span><i class="fa fa-caret-right"></i> </span> </a>
                            <span> <i class="fa fa-caret-right"> </i> </span>
                            <a href="shop-gird.html"> women </a>
                            <span> Faded Short Sleeves T-shirt </span>
                        </div> -->
                        <!-- BSTORE-BREADCRUMB END -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- SINGLE-PRODUCT-DESCRIPTION START -->
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                <div class="single-product-view">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="thumbnail_1">
                                            <div class="single-product-image">
                                                <img th:src="@{'uploads/product/'+${singleProduct.image}}" alt="single-product-image" />


                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                                <div class="single-product-descirption">

                                    <h2 class="name-single-product" th:text="${singleProduct.name}">Nước hoa Boss 150ml</h2>
                                    <div class="single-product-condition">
                                        <p>Thương hiệu: <span th:text="${nameTrademark.name}">Gucci</span></p>
                                        <p>Xuất xứ: <span th:text="${singleProduct.origin}">Pháp</span></p>
                                        <p>Mùi hương: <span th:text="${singleProduct.fragrant}">Hoa nhài</span></p>
                                        <p>Giới tính: <span th:text="${singleProduct.gender}">Nam</span></p>
                                        <p>Bảo hành: <span th:text="${singleProduct.guarantee}">1 tháng</span></p>
                                    </div>
                                    <div class="single-product-price">
                                        <h2 th:text="${#numbers.formatDecimal(singleProduct.price, 3, 'POINT', 0, 'POINT')}+'₫'">500.000₫</h2>
                                    </div>
                                    <div class="single-product-desc">
                                        <p th:text="${singleProduct.shortDescription}">sorize with</p>
                                        <div class="product-in-stock">
                                            <!-- <p>300 Items<span>In stock</span></p> -->
                                        </div>
                                    </div>
                                    <div class="single-product-quantity">
                                        <p style="color: black;">Số lượng</p>
                                        <div class="cart-quantity">
                                            <div class="cart-plus-minus-button single-qty-btn">
                                                <input class="cart-plus-minus sing-pro-qty" type="text" name="qtybutton" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="single-product-add-cart">
                                        <a class="add-cart-text" title="Add to cart" href="#">Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <!-- SINGLE-PRODUCT-DESCRIPTION END -->
                        <!-- SINGLE-PRODUCT INFO TAB START -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="product-more-info-tab">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs more-info-tab">
                                        <li class="active"><a href="#moreinfo" data-toggle="tab">Thông tin sản phẩm</a></li>
                                        <!-- <li><a href="#datasheet" data-toggle="tab">data sheet</a></li> -->
                                        <li><a href="#review" data-toggle="tab">Đánh giá</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="moreinfo">
                                            <div class="tab-description">
                                                <p th:text="${singleProduct.detailDescription}">sories including shoes, hats, belts and more!</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="datasheet">
                                            <div class="deta-sheet">
                                                <table class="table-data-sheet">
                                                    <tbody>
                                                    <tr class="odd">
                                                        <td>Compositions</td>
                                                        <td>Cotton</td>
                                                    </tr>
                                                    <tr class="even">
                                                        <td class="td-bg">Styles</td>
                                                        <td class="td-bg">Casual</td>
                                                    </tr>
                                                    <tr class="odd">
                                                        <td>Properties</td>
                                                        <td>Short Sleeve</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="review">
                                            <div class="row tab-review-row">
                                                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-3 padding-5">
                                                    <div class="tab-rating-box">
                                                        <span>Grade</span>
                                                        <div class="rating-box">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-empty"></i>
                                                        </div>
                                                        <div class="review-author-info">
                                                            <strong>write A REVIEW</strong>
                                                            <span>06/22/2015</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-7 col-sm-8 col-md-8 col-lg-9 padding-5">
                                                    <div class="write-your-review">
                                                        <p><strong>write A REVIEW</strong></p>
                                                        <p>write A REVIEW</p>
                                                        <span class="usefull-comment">Was this comment useful to you? <span>Yes</span><span>No</span></span>
                                                        <a href="#">Report abuse </a>
                                                    </div>
                                                </div>
                                                <a href="#" class="write-review-btn">Write your review!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- SINGLE-PRODUCT INFO TAB END -->


                    </div>

                </div>
            </div>
        </section>
        <!-- MAIN-CONTENT-SECTION END -->
    </div>
</body>
</html>