<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{user/fragments/layout.html}"-->
<!--&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="${query}">Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="all_product">-->
<!--    &lt;!&ndash; MAIN-CONTENT-SECTION START &ndash;&gt;-->
<!--    <section class="main-content-section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                    <div class="right-all-product">-->
<!--                        &lt;!&ndash; PRODUCT-CATEGORY-HEADER START &ndash;&gt;-->
<!--                        &lt;!&ndash; PRODUCT-CATEGORY-HEADER END &ndash;&gt;-->
<!--                        <div class="product-category-title">-->
<!--                            &lt;!&ndash; PRODUCT-CATEGORY-TITLE START &ndash;&gt;-->
<!--                            <br>-->
<!--                            &lt;!&ndash; PRODUCT-CATEGORY-TITLE END &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="product-shooting-area">-->
<!--                            <div class="product-shooting-bar-all-product">-->
<!--                                <th:block th:if="${totalPro!=0}">-->
<!--                                    <h2 style="text-align: center;" th:text="'Có '+${totalPro}+' kết quả tìm kiếm phù hợp.'"></h2>-->
<!--                                </th:block>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; ALL GATEGORY-PRODUCT START &ndash;&gt;-->
<!--                    <div class="all-gategory-product">-->
<!--                        <div class="row">-->
<!--                            <th:block th:if="${totalPage==0}">-->
<!--                                <h2 style="text-align: center; padding: 20px"-->
<!--                                    th:text="'Không tìm thấy bất kỳ kết quả nào với từ khóa &quot;'+${query}+'&quot;'"></h2>-->
<!--                            </th:block>-->
<!--                            <ul class="gategory-product" th:each="pro:${lstPro}">-->
<!--                                &lt;!&ndash; SINGLE ITEM START &ndash;&gt;-->
<!--                                <li class="gategory-product-list col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--                                    <div class="single-product-item">-->
<!--                                        <div class="product-image-all">-->
<!--                                            <a th:href="@{'/single_product?id='+${pro.id}}"><img class="image-all" th:src="@{'uploads/product/'+${pro.image}}" alt="product-image" /></a>-->
<!--                                            <div class="overlay-content">-->
<!--                                                <ul>-->
<!--                                                    <li><a href="#" title="Tìm kiếm"><i class="fa fa-search"></i></a></li>-->
<!--                                                    <li><a th:onclick="'addProInCart(1,'+${pro.id}+')'" title="Thêm vào giỏ"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                                    <li><a href="#" title="Tải lại"><i class="fa fa-retweet"></i></a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="product-info">-->
<!--                                            <div class="customar-comments-box">-->
<!--                                            </div>-->
<!--                                            <a th:href="@{'/single_product?id='+${pro.id}}" th:text="${pro.name}" ></a>-->
<!--                                            <div class="price-box">-->
<!--                                                <span class="price" th:text="${#numbers.formatDecimal(pro.price, 3, 'POINT', 0, 'POINT')}+'₫'">$16.51</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                &lt;!&ndash; SINGLE ITEM END &ndash;&gt;-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; PRODUCT-SHOOTING-RESULT START &ndash;&gt;-->
<!--                    <div class="product-shooting-result product-shooting-result-border">-->
<!--                        <div th:if="${totalPage != 1 && totalPage!=0}" class="form-group col-md-11 pagination-container" style="margin: 0px">-->
<!--                            <ul class="pagination" style="margin: 0px">-->
<!--                                <li th:class="${curPage == 1} ? disabled">-->
<!--                                    <a class="pageLink" th:href="@{/search(query=${query},curPage=1)}">&laquo;</a>-->
<!--                                </li>-->
<!--                                <li th:class="${curPage == 1} ? disabled">-->
<!--                                    <a class="pageLink" th:href="@{/search(query=${query},curPage=${curPage - 1})}">&larr;</a>-->
<!--                                </li>-->
<!--                                <li th:class="${curPage == page} ? 'active pointer-disabled'"-->
<!--                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">-->
<!--                                    <a class="pageLink" th:href="@{/search(query=${query},curPage=${page})}"-->
<!--                                       th:text="${page}"></a>-->
<!--                                </li>-->
<!--                                <li th:class="${curPage == totalPage} ? disabled">-->
<!--                                    <a class="pageLink"-->
<!--                                       th:href="@{/search(query=${query},curPage=${curPage + 1})}">&rarr;</a>-->
<!--                                </li>-->
<!--                                <li th:class="${curPage == totalPage} ? disabled">-->
<!--                                    <a class="pageLink"-->
<!--                                       th:href="@{/search(query=${query},curPage=${totalPage})}">&raquo;</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; PRODUCT-SHOOTING-RESULT END &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; MAIN-CONTENT-SECTION END &ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->