<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<head>
    <title>Đơn hàng</title>
</head>
<div layout:fragment="order_acc">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- PRODUCT-LEFT-SIDEBAR START -->
                    <div class="product-left-sidebar">
                        <br>
                        <br>
                        <h2 class="left-title pro-g-page-title">Quản lý tài khoản</h2>



                        <!-- SINGLE SIDEBAR SIZE START -->
                        <div class="product-single-sidebar">
                            <span class="sidebar-title" th:text="'Xin chào, '+${acc.fullName}">Xin chào</span>
                            <ul>
                                <li>
                                    <a href="/manage_acc">Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a href="/update_acc">Cập nhật thông tin tài khoản</a>
                                </li>
                                <li>
                                    <b><a href="/order_acc?curPage=1">Đơn hàng của bạn</a></b>
                                </li>
                                <li>
                                    <a href="/update_pass">Đổi mật khẩu</a>
                                </li>
                            </ul>
                        </div>
                        <!-- SINGLE SIDEBAR SIZE END -->




                    </div>
                    <!-- PRODUCT-LEFT-SIDEBAR END -->

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="right-all-product">
                        <!-- PRODUCT-CATEGORY-HEADER START -->


                        <!-- PRODUCT-CATEGORY-HEADER END -->
                        <div class="product-category-title">
                            <!-- PRODUCT-CATEGORY-TITLE START -->
                            <br>
                            <h1 style="margin-bottom: 0px;">
                                <span class="cat-name">Đơn hàng của bạn</span>
                            </h1>
                            <!-- PRODUCT-CATEGORY-TITLE END -->
                        </div>

                        <div class="product-shooting-area">
                            <div class="product-shooting-bar">
                                <!-- SHOORT-BY START -->
<!--                                <div class="shoort-by">-->
<!--                                    <label for="productShort">Lọc</label>-->
<!--                                    <div class="short-select-option">-->
<!--                                        <select name="sortby" id="productShort">-->
<!--                                            <option value="">Tất cả</option>-->
<!--                                            <option value="">Đang xử lý</option>-->
<!--                                            <option value="">Đang vận chuyển</option>-->
<!--                                            <option value="">Đã giao</option>-->
<!--                                            <option value="">Đã hủy</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <!-- SHOORT-BY END -->
                            </div>
                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT START -->
                    <div class="all-gategory-product">
                        <div class="row" style="margin-left: 0px;">
                            <div id="table-scroll" class="table-scroll">
                                <table id="main-table" class="main-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Mã đơn hàng</th>
                                        <th scope="col">Thời gian</th>
                                        <th scope="col">Giá trị đơn hàng</th>
                                        <th scope="col">Người nhận</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Hoạt động</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="bill:${bills}">
                                    <tr>
                                        <th th:text="${bill.id}"></th>
                                        <td th:text="${#dates.format(bill.createdDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
                                        <td th:text="${#numbers.formatDecimal(bill.totalPrice, 3, 'POINT', 0, 'POINT')}+'₫'"></td>
                                        <td th:text="${bill.receiverName}"></td>
                                        <th:block th:if="${bill.status==1}"><td>Đang xử lý</td></th:block>
<!--                                        <th:block th:if="${bill.status==2}"><td>Đã tiếp nhận</td></th:block>-->
                                        <th:block th:if="${bill.status==2}"><td>Đang giao</td></th:block>
                                        <th:block th:if="${bill.status==3}"><td>Đã giao</td></th:block>
                                        <th:block th:if="${bill.status==4}"><td>Đã hủy</td></th:block>
<!--                                        <td><button type="button" class="btn btn-primary btn-sm" th:onclick="'getModal('+${bill.id}+','+${bill.receiverName}+','+${bill.receiverEmail}+','+${bill.receiverPhone}+','+${bill.receiverAddress}+','+${bill.payment}+','+${bill.totalPrice}+','+${bill.note}+')'">Xem</button></td>-->
                                        <td>
                                            <button th:id="id-bill+${bill.id}" type="button" class="btn btn-primary btn-sm"
                                                    th:attr="name=${bill.receiverName},email=${bill.receiverEmail},phone=${bill.receiverPhone},address=${bill.receiverAddress},payment=${bill.payment},total=${bill.totalPrice},note=${bill.note}"
                                                    th:onclick="|getModal(${bill.id},this.getAttribute('name'),this.getAttribute('email'),this.getAttribute('phone'),this.getAttribute('address'),this.getAttribute('payment'),this.getAttribute('total'),this.getAttribute('note'))|" >Xem</button>
                                            <th:block th:if="${bill.status==1}">
                                                <button type="button" class="btn btn-danger btn-sm">Hủy</button>
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <!-- <tfoot>
                                      <tr>
                                        <th>Footer 1</th>
                                        <td>Footer 2</td>
                                        <td>Footer 3</td>
                                        <td>Footer 4</td>
                                        <td>Footer 5</td>
                                        <td>Footer 6</td>
                                        <td>Footer 7</td>
                                        <td>Footer 8</td>
                                      </tr>
                                    </tfoot> -->
                                </table>
                            </div>

                        </div>
                    </div>
                    <div th:if="${totalPage != 1 && totalPage!=0}" class="form-group col-md-11 pagination-container" style="margin: 0px">
                        <ul class="pagination" style="margin: 0px">
                            <li th:class="${curPage == 1} ? disabled">
                                <a class="pageLink" th:href="@{/order_acc(curPage=1)}">&laquo;</a>
                            </li>
                            <li th:class="${curPage == 1} ? disabled">
                                <a class="pageLink" th:href="@{/order_acc(curPage=${curPage - 1})}">&larr;</a>
                            </li>
                            <li th:class="${curPage == page} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="pageLink" th:href="@{/order_acc(curPage=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li th:class="${curPage == totalPage} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/order_acc(curPage=${curPage + 1})}">&rarr;</a>
                            </li>
                            <li th:class="${curPage == totalPage} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/order_acc(curPage=${totalPage})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Modal -->
                    <!-- Thông tin chi tiết đơn hàng -->
                    <div class="modal fade" id="myModalBill" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Chi tết đơn hàng</h2>
                                </div>
                                <div class="modal-body" >
                                    <h3>Thông tin người nhận</h3>
                                    <br>
                                    <table class="table table-bordered">
                                        <tr>
                                            <td>Họ tên người nhận</td>
                                            <td id="m_fullName">Nguyễn Văn A</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td id="m_emal">adf@sdf.com</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td id="m_phone">0988777665</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td id="m_address">Nhổn - Đại học Công Nghiệp Hà Nội</td>
                                        </tr>
                                        <tr>
                                            <td>Hình thức thanh toán</td>
                                            <td id="m_payment">Thanh toán khi nhân hàng</td>
                                        </tr>
                                        <tr>
                                            <td>Ghi chú</td>
                                            <td id="m_note">Gửi giờ hành chính</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tiền thanh toán</td>
                                            <td id="m_total">14.000.000 VNĐ</td>
                                        </tr>
                                    </table>
                                    <h3>Chi tiết sản phẩm</h3>
                                    <br>
                                    <div id="list-pro-bill">

                                    </div>
<!--                                    <div class="product">-->
<!--                                        <div class="product-image-cart">-->
<!--                                            <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">-->
<!--                                        </div>-->
<!--                                        <div class="product-details" style="width:80%">-->
<!--                                            <p class="product-description">Nước hoa abcdxyz</p>-->
<!--                                            <div class="product-title">Số lượng: 1</div>-->
<!--                                            <div class="product-title">Giá: 100.000đ</div>-->
<!--                                        </div>-->
<!--                                    </div>-->

                                </div>
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy đơn</button>-->
<!--                                </div>-->
                            </div>

                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT END -->

                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script layout:fragment="order_acc_js" th:inline="javascript">
    //$('id-bill8').click();

    function getModal(id,fullName,email,phone,address,payment,totalPrice,note){
        var totalMoney=parseFloat(totalPrice).toLocaleString({style : 'currency', currency : 'VND'});
        $('#m_fullName').text(fullName);
        $('#m_emal').text(email);
        $('#m_phone').text(phone);
        $('#m_address').text(address);
        $('#m_payment').text(payment);
        $('#m_note').text(note);
        $('#m_total').text(totalMoney+'đ');


        $.ajax({
            type : "post",
            enctype: 'multipart/form-data',
            url : "/product_in_bill",
            data : {
                idBill:id,
            },
            dataType : 'json',
            // timeout : 100000,
            success : function(data) {
                $('#list-pro-bill').empty();
                $.each(data,function (i,item){
                        var total=item.currentlyPrice.toLocaleString({style : 'currency', currency : 'VND'});
                        $('#list-pro-bill').append(
                            '<div class="product">'+
                                '<div class="product-image-cart">'+
                                    '<img src="uploads/product/'+item.image+'">'+
                                '</div>'+
                                '<div class="product-details" style="width:80%">'+
                                    '<p class="product-description">'+item.name+'</p>'+
                                    '<div class="product-title">Số lượng: '+item.amount+'</div>'+
                                    '<div class="product-title">Giá: '+total+'đ</div>'+
                                '</div>'+
                            '</div>'
                        )
                    }
                )
            },
            error : function(e) {
                console.log("ERROR: ", e);
            }
        });
        $('#myModalBill').modal('show');
    }
</script>
</body>
</html>