<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<div layout:fragment="update_acc">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- PRODUCT-LEFT-SIDEBAR START -->
                    <div class="product-left-sidebar">
                        <br>
                        <br>
                        <h2 class="left-title pro-g-page-title">Quản lý tài khoản</h2>



                        <!-- SINGLE SIDEBAR SIZE START -->
                        <div class="product-single-sidebar">
                            <span class="sidebar-title">Xin chào, Trần Văn Độ</span>
                            <ul>
                                <li>
                                    <a href="#">Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a href="#">Cập nhật thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a href="#">Đơn hàng của bạn</a>
                                </li>
                                <li>
                                    <a href="#">Đổi mật khẩu</a>
                                </li>
                            </ul>
                        </div>
                        <!-- SINGLE SIDEBAR SIZE END -->




                    </div>
                    <!-- PRODUCT-LEFT-SIDEBAR END -->

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="right-all-product">
                        <!-- PRODUCT-CATEGORY-HEADER START -->


                        <!-- PRODUCT-CATEGORY-HEADER END -->
                        <div class="product-category-title">
                            <!-- PRODUCT-CATEGORY-TITLE START -->
                            <br>
                            <h1>
                                <span class="cat-name">Cập nhật thông tin</span>
                            </h1>
                            <!-- PRODUCT-CATEGORY-TITLE END -->
                        </div>

                    </div>
                    <!-- ALL GATEGORY-PRODUCT START -->
                    <div class="all-gategory-product">
                        <div class="row" style="margin-left: -10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <!-- REGISTERED-ACCOUNT START -->
                                <div class="primari-box registered-account">
                                    <form class="new-account-box" id="accountLogin" method="post" action="#">

                                        <div>

                                            <div class="form-content">
                                                <div class="form-group primary-form-group">
                                                    <label for="loginemail">Tên đăng nhập</label>
                                                    <input type="text" value="" name="email" id="loginemail" class="form-control input-feild">
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="loginemail">Họ và tên</label>
                                                    <input type="text" value="" name="email" id="loginemail" class="form-control input-feild">
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="password">Email</label>
                                                    <input type="text" value="" name="password" id="password" class="form-control input-feild">
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="password">Số điện thoại</label>
                                                    <input type="password" value="" name="password" id="password" class="form-control input-feild">
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="password">Địa chỉ</label>
                                                    <input type="password" value="" name="password" id="password" class="form-control input-feild">
                                                </div>
                                                <div class="submit-button">
                                                    <a href="my-account.html" id="signinCreate" class="btn main-btn">
                                                            <span>

                                                                 Cập nhật
                                                            </span>
                                                    </a>
                                                </div>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                                <!-- REGISTERED-ACCOUNT END -->
                            </div>
                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT END -->

                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->s
</div>
</body>
</html>