<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<div layout:fragment="update_acc">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- PRODUCT-LEFT-SIDEBAR START -->
                    <div class="product-left-sidebar">
                        <br>
                        <br>
                        <h2 class="left-title pro-g-page-title">Quản lý tài khoản</h2>



                        <!-- SINGLE SIDEBAR SIZE START -->
                        <div class="product-single-sidebar">
                            <span class="sidebar-title" th:text="'Xin chào, '+${acc.fullName}">Xin chào, Trần Văn Độ</span>
                            <ul>
                                <li>
                                    <a href="/manage_acc">Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <b><a href="/update_acc">Cập nhật thông tin tài khoản</a></b>
                                </li>
                                <li>
                                    <a href="/order_acc">Đơn hàng của bạn</a>
                                </li>
                                <li>
                                    <a href="/update_pass">Đổi mật khẩu</a>
                                </li>
                            </ul>
                        </div>
                        <!-- SINGLE SIDEBAR SIZE END -->




                    </div>
                    <!-- PRODUCT-LEFT-SIDEBAR END -->

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="right-all-product">
                        <!-- PRODUCT-CATEGORY-HEADER START -->


                        <!-- PRODUCT-CATEGORY-HEADER END -->
                        <div class="product-category-title">
                            <!-- PRODUCT-CATEGORY-TITLE START -->
                            <br>
                            <h1>
                                <span class="cat-name">Cập nhật thông tin</span>
                            </h1>
                            <!-- PRODUCT-CATEGORY-TITLE END -->
                        </div>

                    </div>
                    <!-- ALL GATEGORY-PRODUCT START -->
                    <div class="all-gategory-product">
                        <div class="row" style="margin-left: -10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <!-- REGISTERED-ACCOUNT START -->
                                <div class="primari-box registered-account">
                                    <th:block th:if="${type==1}">
                                        <div class=".myAlert-top alert alert-success" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <strong>Cập nhật tài khoản thành công!</strong>
                                        </div>
                                    </th:block>
                                    <th:block th:if="${errorUser}">
                                        <div id="error-user" class="alert alert-danger" role="alert" th:text="${errorUser}">
                                            lỗi
                                        </div>
                                    </th:block>
                                    <form class="new-account-box" th:object="${acc}" id="updateAcc" method="post" action="update_account">

                                        <div>

                                            <div class="form-content">
                                                <input type="hidden" th:value="*{id}" th:field="*{id}" name="email" id="id" class="form-control input-feild">
                                                <div class="form-group primary-form-group">
                                                    <label for="username">Tên đăng nhập</label>
                                                    <input type="text" th:value="*{username}" th:field="*{username}" name="email" id="username" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="fullName">Họ và tên</label>
                                                    <input type="text" th:value="*{fullName}" th:field="*{fullName}" name="email" id="fullName" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="phone">Số điện thoại</label>
                                                    <input type="text" th:value="*{phone}" th:field="*{phone}" name="password" id="phone" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="address">Địa chỉ</label>
                                                    <input type="text" th:value="*{address}" th:field="*{address}" name="password" id="address" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <button class="form-submit">Cập nhật</button>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                                <!-- REGISTERED-ACCOUNT END -->
                            </div>
                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT END -->

                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script th:fragment="update_acc_js" th:inline="javascript">
    Validator({
        form: '#updateAcc',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#username'),
            Validator.isUsername('#username'),
            Validator.isRequired('#fullName'),//chạy hàm để nhận dữ liệu return trả về
            Validator.isRequired('#phone'),
            Validator.isPhone('#phone'),
            Validator.isRequired('#address'),
        ],
        // onSubmit: function(data) {
        //   //Call API
        //   console.log(data);
        // }
    });
</script>
</body>
</html>