<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<div layout:fragment="update_pass">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <!-- PRODUCT-LEFT-SIDEBAR START -->
                    <div class="product-left-sidebar">
                        <br>
                        <br>
                        <h2 class="left-title pro-g-page-title">Quản lý tài khoản</h2>



                        <!-- SINGLE SIDEBAR SIZE START -->
                        <div class="product-single-sidebar">
                            <span class="sidebar-title" th:text="'Xin chào, '+${acc.fullName}">Xin chào, Trần Văn Độ</span>
                            <ul>
                                <li>
                                    <a href="/manage_acc">Thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a href="/update_acc">Cập nhật thông tin tài khoản</a>
                                </li>
                                <li>
                                    <a href="/order_acc">Đơn hàng của bạn</a>
                                </li>
                                <li>
                                    <b><a href="/update_pass">Đổi mật khẩu</a></b>
                                </li>
                            </ul>
                        </div>
                        <!-- SINGLE SIDEBAR SIZE END -->




                    </div>
                    <!-- PRODUCT-LEFT-SIDEBAR END -->

                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="right-all-product">
                        <!-- PRODUCT-CATEGORY-HEADER START -->


                        <!-- PRODUCT-CATEGORY-HEADER END -->
                        <div class="product-category-title">
                            <!-- PRODUCT-CATEGORY-TITLE START -->
                            <br>
                            <h1>
                                <span class="cat-name">Đổi mật khẩu</span>
                            </h1>
                            <!-- PRODUCT-CATEGORY-TITLE END -->
                        </div>

                    </div>
                    <!-- ALL GATEGORY-PRODUCT START -->
                    <div class="all-gategory-product">
                        <div class="row" style="margin-left: -10px;">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <!-- REGISTERED-ACCOUNT START -->
                                <div class="primari-box registered-account">
                                    <form class="new-account-box" id="update-pass" method="post" action="/update_password">
                                        <th:block th:if="${type==1}">
                                            <div class=".myAlert-top alert alert-success" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>Đổi mật khẩu thành công!</strong>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${errorUser}">
                                            <div id="error-user" class="alert alert-danger" role="alert" th:text="${errorUser}">
                                                lỗi
                                            </div>
                                        </th:block>
                                        <div>

                                            <div class="form-content">

                                                <div class="form-group primary-form-group">
                                                    <label for="password-old">Mật khẩu cũ</label>
                                                    <input type="password" value="" name="oldPassword" id="password-old" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="password-new">Mật khẩu mới</label>
                                                    <input type="password" value="" name="password" id="password-new" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <div class="form-group primary-form-group">
                                                    <label for="confirm-password">Xác nhận lại mật khẩu</label>
                                                    <input type="password" value="" name="confirm-password" id="confirm-password" class="form-control input-feild">
                                                    <span class="form-message"></span>
                                                </div>
                                                <button class="form-submit">Đổi mật khẩu</button>
                                            </div>


                                        </div>
                                    </form>
                                </div>
                                <!-- REGISTERED-ACCOUNT END -->
                            </div>
                        </div>
                    </div>
                    <!-- ALL GATEGORY-PRODUCT END -->

                </div>
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script layout:fragment="update_pass_js" th:inline="javascript">
    Validator({
        form: '#update-pass',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#password-old'),
            Validator.minLength('#password-old',6),
            Validator.isRequired('#password-new'),
            Validator.minLength('#password-new',6),
            Validator.isConfirm('#confirm-password',function() {
                return document.querySelector('#update-pass #password-new').value;
            }),
        ],
        // onSubmit: function(data) {
        //   //Call API
        //   console.log(data);
        // }
    });
</script>
</body>
</html>