<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<body>
<head>
    <title>Tin tức</title>
</head>
<div layout:fragment="news">
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- SHOPPING-CART SUMMARY START -->
                    <h2 class="page-title">Tin tức nước hoa</h2>
                    <!-- SHOPPING-CART SUMMARY END -->
                </div>

                <!-- start blog -->
                <div class="albums" >
                    <th:block th:each="news:${lstNews}">
                    <a th:href="@{/single_news(id=${news.id})}">
                        <div class="album">
                            <div class="img-wrapper"><img th:src="@{'uploads/product/'+${news.image}}" alt="img placeholder"></div>
                            <div class="album-info">
                                <div class="title" th:text="${news.title}"></div>
                                <div class="album-name" th:text="${news.createdDate}">11/04/2021</div>
                                <div class="description" th:text="${news.shortDescription}"></div>
                            </div>
                        </div>
                    </a>
                    </th:block>
                </div>
                <!-- end blog -->

                <!-- PRODUCT-SHOOTING-RESULT START -->
                <div class="product-shooting-result product-shooting-result-border">
                    <div th:if="${totalPage != 1 && totalPage!=0}" class="form-group col-md-11 pagination-container" style="margin: 0px">
                        <ul class="pagination" style="margin: 0px">
                            <li th:class="${curPage == 1} ? disabled">
                                <a class="pageLink" th:href="@{/news(curPage=1)}">&laquo;</a>
                            </li>
                            <li th:class="${curPage == 1} ? disabled">
                                <a class="pageLink" th:href="@{/news(curPage=${curPage - 1})}">&larr;</a>
                            </li>
                            <li th:class="${curPage == page} ? 'active pointer-disabled'"
                                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                <a class="pageLink" th:href="@{/news(curPage=${page})}"
                                   th:text="${page}"></a>
                            </li>
                            <li th:class="${curPage == totalPage} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/news(curPage=${curPage + 1})}">&rarr;</a>
                            </li>
                            <li th:class="${curPage == totalPage} ? disabled">
                                <a class="pageLink"
                                   th:href="@{/news(curPage=${totalPage})}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- PRODUCT-SHOOTING-RESULT END -->
            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
</body>
</html>