<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <th:block id="css-resources">
        <style>
            .Choicefile {
                display: block;
                background: #14142B;
                border: 1px solid #fff;
                color: #fff;
                width: 150px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                padding: 5px 0px;
                border-radius: 5px;
                font-weight: 500;
                align-items: center;
                justify-content: center;
            }

            .Choicefile:hover {
                text-decoration: none;
                color: white;
            }

            #uploadfile,
            .removeimg {
                display: none;
            }

            #thumbbox {
                position: relative;
                width: 100%;
                /*margin-bottom: 20px;*/
            }

            .removeimg {
                height: 25px;
                position: absolute;
                background-repeat: no-repeat;
                top: 5px;
                left: 5px;
                background-size: 25px;
                width: 25px;
                /* border: 3px solid red; */
                border-radius: 50%;

            }

            .removeimg::before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                content: '';
                border: 1px solid red;
                background: red;
                text-align: center;
                display: block;
                margin-top: 11px;
                transform: rotate(45deg);
            }

            .removeimg::after {
                /* color: #FFF; */
                /* background-color: #DC403B; */
                content: '';
                background: red;
                border: 1px solid red;
                text-align: center;
                display: block;
                transform: rotate(-45deg);
                margin-top: -2px;
            }
        </style>
    </th:block>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
<!--        <div class="app-title">-->
<!--            <ul class="app-breadcrumb breadcrumb side">-->
<!--                <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>-->
<!--            </ul>-->
<!--            <div id="clock"></div>-->
<!--        </div>-->
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách sản phẩm</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">

                                <a class="btn btn-add btn-sm" title="Thêm" data-toggle="modal"
                                   data-target="#ModalUP"><i class="fas fa-plus"></i>
                                    Thêm mới</a>
                            </div>
                        </div>
                        <div style="margin-bottom:6px">
                            <label><b>Tìm kiếm:</b></label>
                            <input style="border-radius: 0.3rem; background-color: #f1f1f1;height:30px;width:250px;border: 1px solid #dadada;" onkeyup="searchProduct()" type="text" name="search-product" id="search-product">
                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên nước hoa</th>
                                <th>Ảnh</th>
                                <th>Số lượng</th>
                                <th>Thương hiệu</th>
                                <th>Giá tiền</th>
                                <th>Trang thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody id="lst-product">
<!--                            <tr>-->
<!--                                <td>71309005</td>-->
<!--                                <td>Bàn ăn gỗ Theresa</td>-->
<!--                                <td><img src="/img-sanpham/theresa.jpg" alt="" width="100px;"></td>-->
<!--                                <td>40</td>-->
<!--                                <td>Bàn ăn</td>-->
<!--                                <td>5.600.000 đ</td>-->
<!--                                <td><span class="badge bg-success">Hiện</span></td>-->
<!--                                <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"-->
<!--                                            onclick="deleteBrand()"><i class="fas fa-trash-alt"></i>-->
<!--                                </button>-->
<!--                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"-->
<!--                                            data-target="#ModalUP"><i class="fas fa-edit"></i></button>-->
<!--                                </td>-->
<!--                            </tr>-->

                            </tbody>
                        </table>
                        <div id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--
  MODAL
-->
    <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Chỉnh sửa thông tin sản phẩm</h5>
                        </span>
                        </div>
                    </div>
                    <form id="form-product" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Mã sản phẩm </label>
                                <input name="id" class="form-control" type="number" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Tên sản phẩm</label>
                                <input name="name" class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lst-brand" class="control-label">Thương hiệu</label>
                                <select name="brand" class="form-control" id="lst-brand">
                                    <option>Bàn ăn</option>
                                    <option>Bàn thông minh</option>
                                    <option>Tủ</option>
                                    <option>Ghế gỗ</option>
                                    <option>Ghế sắt</option>
                                    <option>Giường người lớn</option>
                                    <option>Giường trẻ em</option>
                                    <option>Bàn trang điểm</option>
                                    <option>Giá đỡ</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Xuất xứ</label>
                                <input name="origin" class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Năm sản xuất</label>
                                <input name="manufactureYear" class="form-control" type="number">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sex" class="control-label">Giới tính</label>
                                <select name="sex" class="form-control" id="sex">
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                    <option>Unisex</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Mùi hương</label>
                                <input name="fragrant" class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Bảo hành</label>
                                <input name="guarantee" class="form-control" type="text">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Giá bán</label>
                                <input name="price" class="form-control" type="number">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Số lượng</label>
                                <input name="amount" class="form-control" type="number">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="status" class="control-label">Trạng thái</label>
                                <select name="status" class="form-control" id="status">
                                    <option value=true>Hiển thị</option>
                                    <option value=false>Ẩn</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh sản phẩm</label>
                                <div id="myfileupload">
                                    <input type="file" id="uploadfile" name="fileImage" accept="image/png, image/jpeg, image/jpg" onchange="readURL(this);" />
                                </div>
                                <div id="thumbbox">
                                    <img height="200" width="200" alt="Thumb image" id="thumbimage" style="display: none" />
                                    <a class="removeimg" href="javascript:"></a>
                                </div>
                                <div id="boxchoice">
                                    <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>
                                    <p style="clear:both"></p>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Mô tả ngắn</label>
                                <textarea name="shortDescription" class="form-control" id="mota"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Mô chỉ tiết</label>
                                <textarea id="detail" name="detailDescription" required="required"></textarea>
                            </div>
                        </div>
                        <BR>
                        <BR>
                        <BR>
                        <button class="btn btn-save" type="submit" onclick="test()">Lưu lại</button>
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                    </form>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
</th:block>

<th:block id="js-resources">
<script>

    checkCurPage=1;
    //text editor

    // $(document).ready(function() {
    //     page(1,'all');
    //     $('#detail').summernote();
    // });
    $(document).ready(function() {
        page(1,'all');
        $('#detail').summernote({
            height: 100,
            focus: true,

        });
    });


    function page(curPage,search){
        $('#pagination-container').pagination({
            dataSource: function(done) {
                $.ajax({
                    type: 'GET',
                    contentType : "application/json",
                    url: '/admin/lst_product',
                    data:{
                        search:search,
                    },
                    dataType : 'json',
                    success: function(response) {
                        done(response);
                    }
                });
            },
            pageSize: 5,
            pageNumber:curPage,
            autoHidePrevious: true,
            autoHideNext: true,
            callback: function(data, pagination) {
                var html = loadTable(data);
                $('#lst-product').html(html);
                checkCurPage=pagination.pageNumber;
            }
        })
    }


    //for load dữ liệu
    function loadTable(data){
        var html = '';
        $.each(data, function(index, item){
            var total=item.price.toLocaleString({style : 'currency', currency : 'VND'});
            html +=
                '<tr>'+
                    '<td>'+item.id+'</td>'+
                    '<td>'+item.name+'</td>'+
                    '<td><img src="/uploads/product/'+item.image+'" alt="" width="80px;"></td>'+
                    '<td>'+item.amount+'</td>'+
                    '<td>'+item.brand.name+'</td>'+
                    '<td>'+total+'đ</td>'+
                    '<td>';
            if(item.status==true){
                html +='<span class="badge bg-success">Hiển thị</span>';
            }
            else{
                html +='<span class="badge bg-danger">Ẩn</span>';
            }
            html +=
                '</td>'+
                '<td>'+
                    '<button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onClick="deleteBrand()">'+
                    '<i class="fas fa-trash-alt"></i>'+
                    '</button>'+
                    '<button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" '+
                    'data-toggle="modal" '+
                    'data-target="#ModalUP"><i class="fas fa-edit"></i></button>'+
                '</td>'
        });
        return html;
    }

    //search
    function searchProduct(){
        var data = $('#search-product').val().trim();
        if(data!=''){
            page(1,data);
        }
        if(data==''){
            page(1,'all');
        }
    }


    //add-or-update
    //validate api khi add or update thanh cong
    $("#form-product").validate({
        rules: {
            name: "required",
            fileImage:"required",
            // fileImage: {
            //     required: function () {
            //         if ($('#uploadfile').val()!=null){
            //             alert($('#uploadfile').val())
            //             return false;
            //         }
            //         return true;
            //     }
            // },
            origin: "required",
            fragrant: "required",
            guarantee:"required",
            price: "required",
            manufactureYear: "required",
            detailDescription: "required",
            amount:"required",
        },

        messages: {
            name: "Vui lòng nhập tên",
            fileImage: "Vui lòng chọn ảnh",
            origin: "Vui lòng nhập xuất xứ",
            fragrant: "Vui lòng nhập mùi hương",
            guarantee:"Vui lòng nhập bảo hành",
            price: "Vui lòng nhập giá",
            manufactureYear: "Vui lòng nhập năm sản xuất",
            detailDescription: "Vui lòng nhập chi tiết sản phẩm",
            amount:"Vui lòng nhập số lượng",
        },
        submitHandler: function (form1) {
            var form = $('#form-product')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/admin/save_product",
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    // $('#modalBrand').modal('hide');
                    // if(data.message==true&&check==true){
                    //     messageSuccess('Thành công!', 'Thêm thương hiệu thành công');
                    //     page(1);//về trang đầu tiên
                    // }
                    // if(data.message==true&&check==false){
                    //     messageSuccess('Thành công!', 'Cập nhật thương hiệu thành công');
                    //     page(checkCurPage);//về trang hiện tại
                    // }
                    // $(location).attr('href', "/admin/brand?curPage=1");

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }
        });

        // function test(){
        //     alert($('#uploadfile').val());
        // }


    //Hiển thị ảnh
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
        $(".Choicefile").bind('click', function () {
            $("#uploadfile").click();

        });
        $(".removeimg").click(function () {
            $("#thumbimage").attr('src', '').hide();
            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })


</script>

</th:block>
</body>
</html>