<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <th:block id="css-resources">
        <style>
            .Choicefile {
                display: block;
                background: #14142B;
                border: 1px solid #fff;
                color: #fff;
                width: 150px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                padding: 5px 0px;
                border-radius: 5px;
                font-weight: 500;
                align-items: center;
                justify-content: center;
            }

            .Choicefile:hover {
                text-decoration: none;
                color: white;
            }

            #uploadfile,
            .removeimg {
                display: none;
            }

            #thumbbox {
                position: relative;
                width: 100%;
                /*margin-bottom: 20px;*/
            }

            .removeimg {
                height: 25px;
                position: absolute;
                background-repeat: no-repeat;
                top: 5px;
                left: 5px;
                background-size: 25px;
                width: 25px;
                /* border: 3px solid red; */
                border-radius: 50%;

            }

            .removeimg::before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                content: '';
                border: 1px solid red;
                background: red;
                text-align: center;
                display: block;
                margin-top: 11px;
                transform: rotate(45deg);
            }

            .removeimg::after {
                /* color: #FFF; */
                /* background-color: #DC403B; */
                content: '';
                background: red;
                border: 1px solid red;
                text-align: center;
                display: block;
                transform: rotate(-45deg);
                margin-top: -2px;
            }
        </style>
    </th:block>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
<!--        <div class="app-title">-->
<!--            <ul class="app-breadcrumb breadcrumb side">-->
<!--                <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>-->
<!--            </ul>-->
<!--            <div id="clock"></div>-->
<!--        </div>-->
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách sản phẩm</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">

                                <a class="btn btn-add btn-sm" title="Thêm" data-toggle="modal" id="insert-product"
                                   data-target="#ModalUP"><i class="fas fa-plus"></i>
                                    Thêm mới</a>
                            </div>
                        </div>
                        <div style="margin-bottom:6px">
                            <label><b>Tìm kiếm:</b></label>
                            <input style="border-radius: 0.3rem; background-color: #f1f1f1;height:30px;width:250px;border: 1px solid #dadada;" onkeyup="searchProduct(1)" type="text" name="search-product" id="search-product">
                        </div>
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>Mã</th>
                                <th>Tên nước hoa</th>
                                <th>Ảnh</th>
                                <th>Số lượng</th>
                                <th>Thương hiệu</th>
                                <th>Giá tiền</th>
                                <th>Trang thái</th>
                                <th>Chức năng</th>
                            </tr>
                            </thead>
                            <tbody id="lst-product">
<!--                            <tr>-->
<!--                                <td>71309005</td>-->
<!--                                <td>Bàn ăn gỗ Theresa</td>-->
<!--                                <td><img src="/img-sanpham/theresa.jpg" alt="" width="100px;"></td>-->
<!--                                <td>40</td>-->
<!--                                <td>Bàn ăn</td>-->
<!--                                <td>5.600.000 đ</td>-->
<!--                                <td><span class="badge bg-success">Hiện</span></td>-->
<!--                                <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"-->
<!--                                            onclick="deleteBrand()"><i class="fas fa-trash-alt"></i>-->
<!--                                </button>-->
<!--                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"-->
<!--                                            data-target="#ModalUP"><i class="fas fa-edit"></i></button>-->
<!--                                </td>-->
<!--                            </tr>-->

                            </tbody>
                        </table>
                        <div id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--
  MODAL
-->
    <div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Chỉnh sửa thông tin sản phẩm</h5>
                        </span>
                        </div>
                    </div>
                    <form id="form-product" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label">Mã sản phẩm </label>
                                <input name="id" id="id-pro" class="form-control" type="number" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Tên sản phẩm</label>
                                <input name="name" id="name-pro" class="form-control" type="text">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lst-brand" class="control-label">Thương hiệu</label>
                                <select name="idBrand" class="form-control" id="lst-brand">

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Xuất xứ</label>
                                <input name="origin" id="origin-pro" class="form-control" type="text">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Năm sản xuất</label>
                                <input name="manufactureYear" id="year-pro" class="form-control" type="number">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sex" class="control-label">Giới tính</label>
                                <select name="gender" class="form-control" id="sex">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Unisex">Unisex</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Mùi hương</label>
                                <input name="fragrant" id="frag-pro" class="form-control" type="text">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Bảo hành</label>
                                <input name="guarantee" id="gua-pro" class="form-control" type="text">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Giá bán</label>
                                <input name="price" id="price-pro" class="form-control" type="text" onchange="format_curency(this);">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="control-label">Số lượng</label>
                                <input name="amount" id="amount-pro" class="form-control" type="number">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="status" class="control-label">Trạng thái</label>
                                <select name="status" class="form-control" id="status">
                                    <option value=true>Hiển thị</option>
                                    <option value=false>Ẩn</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh sản phẩm</label>
                                <br>
                                <div id="show-image">

                                </div>
                                <br>
                                <input type="hidden" name="image" id="name-image"/>
                                <input id="check-image" type="hidden" value="check"/>
                                <p><label class="Choicefile" for="ufile" style="cursor: pointer; padding-top:5px">Chọn file ảnh</label></p>
                                <input name="fileImage" id="ufile" type="file" style="display: none;" accept="image/*" onchange="loadFile(event)" />
                                <span style="color: red" class="form-message"></span>


<!--                               <p><label for="ufile" class="au-input au-input&#45;&#45;full font-weight-bold text-center"-->
<!--                               style="background-color: rgb(41, 167, 248);"><span style="color:white">Chọn Ảnh</span></label></p>-->
<!--                                <input type="file" id="inputFile" path="inputFile" multiple="multiple"-->
<!--                                       name="Icon" class="form-control" style="display:none" accept="image/*" />-->



<!--                                <div id="myfileupload">-->
<!--                                    <input type="file" id="uploadfile" name="fileImage" accept="image/png, image/jpeg, image/jpg" onchange="readURL(this);" />-->
<!--                                    <span style="color: red" class="form-message"></span>-->
<!--                                </div>-->
<!--                                <div id="thumbbox">-->
<!--                                    <img height="200" width="200" alt="Thumb image" id="thumbimage" style="display: none" />-->
<!--                                    <a id="cancel-image" class="removeimg" href="javascript:"></a>-->
<!--                                </div>-->
<!--                                <div id="boxchoice">-->
<!--                                    <a href="javascript:" class="Choicefile"><i class="fas fa-cloud-upload-alt"></i> Chọn ảnh</a>-->
<!--                                    <p style="clear:both"></p>-->
<!--                                </div>-->
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Mô tả ngắn</label>
                                <textarea name="shortDescription" class="form-control" id="short-detail"></textarea>
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Mô chỉ tiết</label>

                                <textarea id="detail" class="form-control" name="detailDescription"></textarea>
                                <span id="mess-detail" class="form-message"></span>
                            </div>
                        </div>
                        <BR>
                        <BR>
                        <BR>
                        <button class="btn btn-save" type="submit">Lưu lại</button>
                        <a class="btn btn-cancel" id="cancel-modal" data-dismiss="modal" href="#">Hủy bỏ</a>
                    </form>
                    <BR>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--
    MODAL
    -->
</th:block>

<th:block id="js-resources">
<script>
    var loadFile = function (event) {
        var file = $('#ufile')[0].files[0];
        if(file!=null) {
            $('#show-image').html('<img id="output" class="img-rounded" alt="Ảnh" width="150" height="150" />');
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        }
    };
    // $("#inputFile").change( () => {
    //     let file = $('#inputFile')[0].files[0];
    //     if (file == null) {
    //         $('#error_image').show();
    //         $('#error_image').text("Ảnh danh mục không được để trống");
    //     } else {
    //         $('#error_image').hide();
    //     }
    //
    // })


    //format giá tiền
    function format_curency(a) {
        a.value = a.value.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
    }

    checkCurPage=1;
    //text editor

    $(document).ready(function() {
        page(1,'all');
        loadBrand();
        $('#detail').summernote({
            height: 100,
            focus: true,
        });


        $('#summernote').summernote({
            callbacks: {
                onChange: function() {
                    $('#mess-detail').text('');
                }
            }
        });
    });

    //load brand
    function loadBrand(){
        $.ajax({
            type: 'GET',
            contentType : "application/json",
            url: '/admin/lst_brand',
            dataType : 'json',
            success: function(data) {
                var html='';
                $.each(data, function(index, item) {
                    html += '<option value='+item.id+'>'+item.name+'</option>';
                })
                $('#lst-brand').html(html);
            }
        });
    }


    function removeData(){
        $('#id-pro').val('');
        $('#name-pro').val('');
        //$('#lst-brand').val(data.brand.id);
        $('#sex').val('Nam');
        $('#origin-pro').val('');
        $('#year-pro').val('');
        $('#frag-pro').val('');
        $('#gua-pro').val('');
        $('#price-pro').val('');
        $('#amount-pro').val('');
        $('#name-image').val('');
        $('#show-image').empty();
        $('#short-detail').val('');
        $('#detail').summernote('code','');
    }
    //close modal
    $( "#cancel-modal" ).click(function() {
        $('.form-group').removeClass('invalid');
        $('.form-message').text('');
    });

    //Clich thêm
    $( "#insert-product" ).click(function() {
       removeData();
    });


    function page(curPage,search){
        $('#pagination-container').pagination({
            dataSource: function(done) {
                $.ajax({
                    type: 'GET',
                    contentType : "application/json",
                    url: '/admin/lst_product',
                    data:{
                        search:search,
                    },
                    dataType : 'json',
                    success: function(response) {
                        done(response);
                    }
                });
            },
            pageSize: 5,
            pageNumber:curPage,
            autoHidePrevious: true,
            autoHideNext: true,
            hideWhenLessThanOnePage:true,
            callback: function(data, pagination) {
                var html = loadTable(data);
                $('#lst-product').html(html);
                checkCurPage=pagination.pageNumber;
            }
        })
    }


    //for load dữ liệu
    function loadTable(data){
        var html = '';
        $.each(data, function(index, item){
            var total=item.price.toLocaleString({style : 'currency', currency : 'VND'});
            html +=
                '<tr>'+
                    '<td>'+item.id+'</td>'+
                    '<td>'+item.name+'</td>'+
                    '<td><img src="/uploads/product/'+item.image+'" alt="" width="80px;"></td>'+
                    '<td>'+item.amount+'</td>'+
                    '<td>'+item.brand.name+'</td>'+
                    '<td>'+total+'đ</td>'+
                    '<td>';
            if(item.status==true){
                html +='<span>Hiển thị</span>';
            }
            else{
                html +='<span>Ẩn</span>';
            }
            html +=
                '</td>'+
                '<td>'+
                    '<button class="btn btn-primary btn-sm trash" type="button" title="Xóa" onClick="deleteProduct('+item.id+')">'+
                    '<i class="fas fa-trash-alt"></i>'+
                    '</button>'+
                    '<button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" '+
                    'data-toggle="modal" '+
                    'data-target="#ModalUP"' +
                    'onclick="getModalProduct('+item.id+')"'+
                    '><i class="fas fa-edit"></i></button>'+
                '</td>'
        });
        return html;
    }

    //search
    function searchProduct(curPage){
        var data = $('#search-product').val().trim();
        if(data!=''){
            page(curPage,data);
        }
        if(data==''){
            page(curPage,'all');
        }
    }




    //validate

    Validator({
        form: '#form-product',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#name-pro'),
            Validator.isRequired('#origin-pro'),
            Validator.isRequired('#year-pro'),
            Validator.isRequired('#frag-pro'),
            Validator.isRequired('#gua-pro'),
            Validator.isRequired('#price-pro'),
            Validator.isRequired('#amount-pro'),
            Validator.isImage('#ufile',document.getElementById('name-image')),
            Validator.isRequired('#short-detail'),
            Validator.isRequired('#detail'),
        ],
        onSubmit: function (form1) {
            var form = $('#form-product')[0];
            var data = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/admin/save_product",
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#ModalUP').modal('hide');
                    removeData();
                    if(data.message==1){
                        messageSuccess('Thành công!', 'Thêm sản phẩm thành công');
                        page(1,'all');//về trang đầu tiên
                    }
                    if(data.message==2){
                        messageSuccess('Thành công!', 'Cập nhật sản phẩm thành công');
                        page(checkCurPage,'all');//về trang hiện tại
                    }
                    if(data.message==3){
                        messageError('Thất bại!','Lỗi hệ thống.')
                    }
                    // $(location).attr('href', "/admin/brand?curPage=1");

                },
                error: function (e) {
                    // messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }
    });

//    update product
    function getModalProduct(id){
        $.ajax({
            type : "GET",
            contentType : "application/json",
            url : "/admin/get_product_id",
            data : {
               id:id,
            },
            dataType : 'json',
            // timeout : 100000,
            success : function(data) {
                    $('#id-pro').val(data.id);
                    $('#name-pro').val(data.name);
                    $('#lst-brand').val(data.brand.id);
                    $('#sex').val(data.gender);
                    $('#origin-pro').val(data.origin);
                    $('#year-pro').val(data.manufactureYear);
                    $('#frag-pro').val(data.fragrant);
                    $('#gua-pro').val(data.guarantee);
                    $('#price-pro').val(data.price);
                    $('#amount-pro').val(data.amount);
                    $('#name-image').val(data.image);
                    $('#show-image').html('<img id="output" class="img-rounded" alt="Ảnh" width="150" height="150" src="/uploads/product/'+data.image+'" />');
                    // $('#ufile').val('/uploads/product/'+data.image);
                    $('#short-detail').val(data.shortDescription);
                    $('#detail').summernote('code',data.detailDescription);
            },
            error : function(e) {
                console.log("ERROR: ", e);
            }
        });
    }


    //delete product
    function deleteProduct(id){
        Swal.fire({
            title: 'Xác nhận xóa!',
            text: "Bạn có chắc chắn muốn xóa sản phẩm này?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: 'green',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa',
            cancelButtonText:'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/admin/delete_product",
                    data: {
                        id:id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.message==true){
                            messageSuccess('Thành công!', 'Xóa sản phẩm thành công.');
                            searchProduct(checkCurPage);
                        }
                        if(data.message==false){
                            messageError('Thất bại!', 'Không thể xóa sản phẩm này.');
                            searchProduct(checkCurPage);
                        }

                    },
                    error: function (e) {
                        messageError('Thất bại!','Lỗi hệ thống.')
                        console.log("ERROR : ", e);
                    }
                });
            }
        })
    }
</script>

</th:block>
</body>
</html>