<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
    <meta charset="UTF-8">
    <title>Xem thống kê</title>
</head>
<body>
<th:block id="main-content">
    <main class="app-content">
        <h4 style="margin-top:10px; margin-bottom:10px">Danh sách liên hệ</h4>
        <div class="row">
            <!--Left-->
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <!-- col-6 -->
                    <div class="col-md-4">
                        <div class="widget-small primary coloured-icon"><i class="icon fa-solid fa-users fa-3x"></i>
                            <div class="info">
                                <h4>Tổng khách hàng</h4>
                                <b><p id="total-user">56</p></b>

                            </div>
                        </div>
                    </div>
                    <!-- col-6 -->
                    <div class="col-md-4">
                        <div class="widget-small info coloured-icon"><i class="icon fa-solid fa-database fa-3x"></i>
                            <div class="info">
                                <h4>Tổng sản phẩm</h4>
                                <b><p id="total-product">56</p></b>

                            </div>
                        </div>
                    </div>
                    <!-- col-6 -->
                    <div class="col-md-4">
                        <div class="widget-small warning coloured-icon"><i class="icon fa-solid fa-briefcase fa-3x"></i>
                            <div class="info">
                                <h4>Tổng đơn hàng trong tháng</h4>
                                <b><p id="total-bill">56</p></b>

                            </div>
                        </div>
                    </div>
                    <!-- col-6 -->
                    <div class="col-md-4">
                        <div class="widget-small danger coloured-icon"><i class="icon fa-solid fa-money-check-dollar fa-3x"></i>
                            <div class="info">
                                <h4>Doanh thu tuần</h4>
                                <b><p id="money-week">56</p></b>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-small danger coloured-icon"><i class="icon fa-solid fa-money-check-dollar fa-3x"></i>
                            <div class="info">
                                <h4>Doanh thu tháng</h4>
                                <b><p id="money-month">56</p></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-small danger coloured-icon"><i class="icon fa-solid fa-money-check-dollar fa-3x"></i>
                            <div class="info">
                                <h4>Doanh thu năm</h4>
                                <b><p id="money-year">56</p></b>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--END left-->
            <!--Right-->
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tile">
                            <h3 class="tile-title">Thống kê doanh thu năm <span><select name="yearpicker" id="yearpicker"></select></span></h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--END right-->
        </div>
    </main>
</th:block>
<th:block id="js-resources">
    <script th:inline="javascript">
        $( document ).ready(function() {
            loadYear();


        });

        //change year
        $("#yearpicker").change(function () {
            myChart.destroy();
            loadData(this.value);
        });

        function loadYear(){
            $.ajax({
                type: 'GET',
                contentType : "application/json",
                url: '/admin/get_dash',
                data:{
                },
                dataType : 'json',
                success: function(result) {
                    $('#yearpicker').empty();
                    $.each(result.lstYear, function(index, item) {
                        var year = new Date(item.updatedDate).getFullYear();
                        $('#yearpicker').append($('<option>', {
                            value: year,
                            text: year
                        }));
                    });
                    loadData($('#yearpicker').val());

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }
        function loadData(year){
            $.ajax({
                type: 'GET',
                contentType : "application/json",
                url: '/admin/get_dash',
                data:{
                    year:year,
                },
                dataType : 'json',
                success: function(result) {
                    $('#total-user').text(result.totalUser);
                    $('#total-product').text(result.totalProduct);
                    $('#total-bill').text(result.totalBillMonth);
                    $('#money-week').text(result.moneyWeek.toLocaleString({style : 'currency', currency : 'VND'})+'đ');
                    $('#money-month').text(result.moneyMonth.toLocaleString({style : 'currency', currency : 'VND'})+'đ');
                    $('#money-year').text(result.moneyYear.toLocaleString({style : 'currency', currency : 'VND'})+'đ');

                    //load biểu đồ
                    var data1 = result.arrTotalMoney;
                    var labels =   ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6","Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
                    renderChart(data1, labels);

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });
        }


        var myChart=null;
        function renderChart(data, labels) {
            var ctx = document.getElementById("barChartDemo").getContext('2d');
            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Doanh thu',
                        data: data,

                        hoverBackgroundColor:"rgba(9, 109, 239, 0.651)",
                        backgroundColor: "rgba(9, 109, 239, 1)",
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function(value, index, values) {
                                    return float2vnd(value);
                                }
                            }
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItems, data) {
                                return tooltipItems.yLabel.toLocaleString({style : 'currency', currency : 'VND'})+'đ';
                            }
                        }
                    }
                },
            });
            myChart.update();
        }


        //format gia tien
        function float2vnd(value) {
//   return value.toLocaleString('it-IT', {style : 'currency', currency : 'VND'});
            return value.toLocaleString({style : 'currency', currency : 'VND'})+'đ';
        }

        //load cac nam
        // var startYear = 2015;
        // var endYear = new Date().getFullYear();
        // for (i = endYear; i >=startYear; i--)
        // {
        //     $('#yearpicker').append($('<option />').val(i).html(i));
        // }
    </script>
</th:block>
</body>
</html>