<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/fragments/layout.html}"
>
<head>
    <title>Đăng ký tài khoản</title>
</head>
<body>
<div layout:fragment="register">
    <div style="display: none" class="loader-div" id="loading-send">
        <span class="loader">
            <span></span>
            <span></span>
        </span>
    </div>
    <!-- MAIN-CONTENT-SECTION START -->
    <section class="main-content-section">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="page-title">Đăng ký tài khoản</h2>
                </div>

                <div class=row style="display:flex; justify-content: center;">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <!-- REGISTERED-ACCOUNT START -->
                        <div class="primari-box registered-account">
                            <form class="new-account-box" id="accountRegister" method="post" action="/verify_register">
                                <h3 class="box-subheading">Đăng ký</h3>
                                <div>
                                    <div id="error-user" class="alert alert-danger" style="display: none" role="alert">
                                           lỗi
                                    </div>
                                    <div class="form-content">
                                        <div class="form-group primary-form-group">
                                            <label for="fullname">Họ và tên</label>
                                            <input type="text" name="fullName" id="fullname" class="form-control input-feild">
                                            <span class="form-message"></span>
                                        </div>
                                        <div class="form-group primary-form-group">
                                            <label for="email">Email</label>
                                            <input type="text" name="email" id="email" class="form-control input-feild">
                                            <span class="form-message"></span>
                                        </div>
<!--                                        <div class="form-group primary-form-group">-->
<!--                                            <label for="username">Tên đăng nhập</label>-->
<!--                                            <input type="text" th:field="*{username}" name="fullname" id="username" class="form-control input-feild">-->
<!--                                            <span class="form-message"></span>-->
<!--                                        </div>-->
                                        <div class="form-group primary-form-group">
                                            <label for="password">Mật khẩu</label>
                                            <input type="password" name="password" id="password" class="form-control input-feild">
                                            <span class="form-message"></span>
                                        </div>
                                        <div class="form-group primary-form-group">
                                            <label for="confirm-password">Nhập lại mật khẩu</label>
                                            <input type="password" name="password" id="confirm-password" class="form-control input-feild">
                                            <span class="form-message"></span>
                                        </div>
<!--                                        <input type="text" name="password" id="code-sended" class="form-control input-feild">-->
                                        <div class="forget-password">
                                            <p><a href="/login.html">Đăng nhập</a></p>
                                        </div>
<!--                                        <div onclick="sendCodeMail()" class="submit-button" data-toggle="modal" data-target="#myModal">-->
<!--                                            <a id="signinCreate" class="btn main-btn">-->
<!--												<span>-->
<!--													 Đăng ký-->
<!--												</span>-->
<!--                                            </a>-->
<!--                                        </div>-->
                                        <button class="form-submit">Đăng ký</button>

                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a th:href="${link}">
                                        <button class="form-submit-gg"><i class="fa-brands fa-google fa-xl" style="margin-right: 5px;color:white"></i>Google</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- REGISTERED-ACCOUNT END -->

                    </div>

                </div>
                <!-- Modal virify-->
                <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div id="wrapper">
                            <div id="dialog">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h5 id="title-verify" style="line-height: 25px;">Chúng tôi đã gửi mã xác nhận gồm 6 chữ số đến email của bạn. Vui lòng nhập
                                    mã để xác nhận đăng ký.</h5>
                                <!-- <span>(we want to make sure it's you before we contact our movers)</span> -->
                                <div id="form-verify">
                                    <input id="code1" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                    <input id="code2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="code3" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="code4" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="code5" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" /><input id="code6" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                                    <span style="font-size: 15px; margin-top:10px" class="text-danger" id="error-verify"></span>
                                    <button style="margin-top:10px" class="btn btn-primary btn-embossed" onclick="checkCode()">Xác thực</button>
                                    <span style="font-size: 15px;" class="text-info">Mã xác thực hết hạn trong:  <div id="ten-countdown"></div></span>
                                    <input type="hidden" id="code-sended" class="form-control input-feild">
                                </div>
                                <button onclick="sendCodeMail(2)" id="btn-reverify" style="display: none; text-align: center;" class="btn btn-success btn-embossed">Gửi lại mã xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MAIN-CONTENT-SECTION END -->
</div>
<script layout:fragment="register_js" th:inline="javascript">
    //Định nghĩa form

    //verify code js
    $(function() {
        'use strict';
        var body = $('#wrapper');

        function goToNextInput(e) {
            var key = e.which,
                t = $(e.target),
                sib = t.next('input');

            if (key != 9 && (key < 48 || key > 57)) {
                e.preventDefault();
                return false;
            }

            if (key === 9) {
                return true;
            }

            if (!sib || !sib.length) {
                sib = body.find('input').eq(0);
            }
            sib.select().focus();
        }

        function onKeyDown(e) {
            var key = e.which;

            if (key === 9 || (key >= 48 && key <= 57)) {
                return true;
            }

            e.preventDefault();
            return false;
        }

        function onFocus(e) {
            $(e.target).select();
        }

        body.on('keyup', 'input', goToNextInput);
        body.on('keydown', 'input', onKeyDown);
        body.on('click', 'input', onFocus);

    })
    //////////////////

    //Countdown
    var timeCountdown=0.5;

    function countdown( elementName, minutes, seconds )
    {
        var element, endTime, hours, mins, msLeft, time;

        function twoDigits( n )
        {
            return (n <= 9 ? "0" + n : n);
        }

        function updateTimer()
        {
            msLeft = endTime - (+new Date);
            if ( msLeft < 1000 ) {//Xử lý khi hết thời gian
                // element.innerHTML = "Time is up!";
                document.getElementById("btn-reverify").style.display='block';
                document.getElementById("btn-reverify").disabled = false;
                document.getElementById("form-verify").style.display = 'none';
                document.getElementById("title-verify").innerText="Mã xác thực của bạn đã hết hạn!";
            } else {
                time = new Date( msLeft );
                hours = time.getUTCHours();
                mins = time.getUTCMinutes();
                element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
                setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
            }
        }

        element = document.getElementById( elementName );
        endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
        updateTimer();
    }

    //countdown( "ten-countdown", timeCountdown, 0 );//Gọi hàm đếm thời gian
    ///////////////////////////////

    //submit form
    Validator({
        form: '#accountRegister',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#fullname'),//chạy hàm để nhận dữ liệu return trả về
            Validator.isRequired('#email'),
            Validator.isEmail('#email'),
            // Validator.isRequired('#username'),
            // Validator.isUsername('#username'),
            // Validator.minLength('#username',4,'Tên đăng nhập phải chứa ít nhất 4 kí tự'),
            Validator.isRequired('#password'),
            Validator.minLength('#password',6),
            Validator.isConfirm('#confirm-password',function() {
                return document.querySelector('#accountRegister #password').value;
            }),
        ],
        onSubmit: function(da) {
            var form = $('#accountRegister')[0];
            var data = new FormData(form);
            $('#loading-send').show();
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/verify_register",
                data: data,
                processData: false, //prevent jQuery from automatically transforming the data into a query string
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    $('#loading-send').hide();
                    if(data.message==1){
                        //messageError('Cảnh báo!','Email đã tồn tại.')
                        $('#error-user').text('Email đã tồn tại.');
                        $('#error-user').show();
                        $('#loading-send').hide();
                    }
                    else{
                        // if(data.message==2){
                        //     $('#error-user').text('Tên đăng nhập đã tồn tại.');
                        //     $('#error-user').show();
                        //     $('#loading-send').hide();
                        // }
                        // else {
                            if(data.message!=3){
                                $('#code-sended').val(data.codeSend);
                                $('#myModal').modal('show');
                                countdown( "ten-countdown", timeCountdown, 0 );
                            }
                        // }
                    }
                    // $(location).attr('href', "/admin/brand?curPage=1");

                },
                error: function (e) {
                    messageError('Thất bại!','Lỗi hệ thống.')
                    console.log("ERROR : ", e);
                }
            });

        }
    });




    //call api
    function sendCodeMail(type){
        var fullname=$("#fullname").val();
        var email=$("#email").val().trim();
        if(type==2){
            document.getElementById("title-verify").innerText="Đang gửi lại mã xác nhận...";
            document.getElementById("btn-reverify").disabled = true;
        }
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/send_code",
            data: {
                email: email,
                fullname: fullname
            },
            // contentType: "application/json",
            dataType : 'json',
            timeout: 600000,
            cache: false,
            success: function (jsonResult) {
                document.getElementById("form-verify").style.display = 'block';
                for(var i=1; i<=6; i++){
                    document.getElementById('code'+i).value='';
                }
                $('#error-verify').text('');
                document.getElementById("title-verify").innerText="Chúng tôi đã gửi mã xác nhận gồm 6 chữ số đến email của bạn. Vui lòng nhập mã để xác nhận đăng ký.";
                document.getElementById("btn-reverify").style.display='none';
                countdown( "ten-countdown", timeCountdown, 0 );
                $("#code-sended").val(jsonResult.codeConfirm);
            },
            error: function (e) {
                console.log("ERROR : ", e);
                document.getElementById("title-verify").innerText="Lỗi hệ thống.";
                document.getElementById("btn-reverify").disabled = false;
            }
        })
    }

    //nếu code đúng thì save thông tin người dùng vào db
    function checkCode(){
        var code="";
        for(var i=1; i<=6; i++){
            code=code + document.getElementById('code'+i).value;
        }
        var codeSend=$('#code-sended').val();//code đã gửi cho mail;
        if(code===codeSend){
            $('#error-verify').text('');
            var fullname= $('#fullname').val().trim();
            var email= $('#email').val().trim();
            // var username= $('#username').val().trim();
            var password= $('#password').val().trim();
            var json={
                "fullName":fullname,
                "email":email,
                // "username":username,
                "password":password
            }
            $.ajax({
                type: "POST",
                // enctype: 'multipart/form-data',
                url: "/register_account",
                data: JSON.stringify(json),
                contentType: "application/json",
                dataType : 'json',
                timeout: 600000,
                cache: false,
                success: function (jsonResult) {
                    if(jsonResult.message==true){
                        $(location).attr('href', "/login.html?type=1");
                    }
                    else{
                        alert("Phiên làm việc đã hết hạn");
                        $(location).attr('href', "/register");
                    }
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    alert("Lỗi hệ thống");
                }
            })
        }
        else{
            $('#error-verify').text('Mã xác thực không chính xác.');
        }

    }
</script>
</body>
</html>