
<div th:fragment="footer">
    <br>
    <br>
    <!-- FOOTER-TOP-AREA START -->
    <section class="footer-top-area">
        <div class="container">
            <div class="footer-top-container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <!-- FOOTER-TOP-LEFT START -->
                        <div class="footer-top-left">
                            <!-- NEWSLETTER-AREA START -->


                            <!-- NEWSLETTER-AREA END -->
                            <!-- ABOUT-US-AREA START -->
                            <div class="about-us-area">
                                <h2>Về chúng tôi</h2>
                                <p>D.Perfume luôn cung cấp nước hoa chất lượng chính hãng đến tay khách hàng với chi phí tốt nhất.</p>
                            </div>
                            <!-- ABOUT-US-AREA END -->
                            <!-- FLLOW-US-AREA START -->
                            <div class="fllow-us-area">
                                <h2>Kết nối</h2>
                                <ul class="flow-us-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <!-- FLLOW-US-AREA END -->
                        </div>
                        <!-- FOOTER-TOP-LEFT END -->
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <!-- FOOTER-TOP-RIGHT-1 START -->

                        <!-- FOOTER-TOP-RIGHT-1 END -->
                        <div class="footer-top-right-2">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <!-- FOTTER-MENU-WIDGET START -->
                                    <div class="fotter-menu-widget">
                                        <div class="single-f-widget">
                                            <h2>Danh mục</h2>
                                            <ul>
                                                <li><a href="/"><i class="fa fa-angle-double-right"></i>Trang chủ </a></li>
                                                <li><a href="/products?type=1&menu=2"><i class="fa fa-angle-double-right"></i>Thương hiệu</a></li>
                                                <li><a href="/news?curPage=1"><i class="fa fa-angle-double-right"></i>Tin tức</a></li>
                                                <li><a href="/introduce"><i class="fa fa-angle-double-right"></i>Giới thiệu</a></li>
                                                <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Liên hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- FOTTER-MENU-WIDGET END -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                    <!-- FOTTER-MENU-WIDGET START -->
                                    <div class="fotter-menu-widget">
                                        <div class="single-f-widget">
                                            <h2>Nước hoa</h2>
                                            <ul>
                                                <li><a href="/products?type=3&se=Nam&menu=3"><i class="fa fa-angle-double-right"></i>Nước hoa nam</a></li>
                                                <li><a href="/products?type=3&se=Nữ&menu=3"><i class="fa fa-angle-double-right"></i>Nước hoa nữ</a></li>
                                                <li><a href="/products?type=3&se=Unisex&menu=3"><i class="fa fa-angle-double-right"></i>Nước hoa unisex</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- FOTTER-MENU-WIDGET END -->
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <!-- FOTTER-MENU-WIDGET START -->
                                    <!-- <div class="fotter-menu-widget">
                                        <div class="single-f-widget">
                                            <h2>My account</h2>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i>My orders</a></li>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i>My credit slips</a></li>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i>My addresses</a></li>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i>My personal info</a></li>
                                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Sign out</a></li>
                                            </ul>
                                        </div>
                                    </div> -->
                                    <div class="Store-Information">
                                        <h2>Thông tin cửa hàng</h2>
                                        <ul>
                                            <li>
                                                <div class="info-lefticon">
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                                <div class="info-text">
                                                    <p>Ngõ 114, Thị trấn Thứa, Lương Tài, Bắc Ninh </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info-lefticon">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <div class="info-text call-lh">
                                                    <p>Số điện thoại : 0389591538</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="info-lefticon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div>
                                                <div class="info-text">
                                                    <p>Email : <a href="mailto:sales@yourcompany.com"> dperfume@gmail.com</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- FOTTER-MENU-WIDGET END -->
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- PAYMENT-METHOD START -->
                                    <!-- <div class="payment-method">
                                        <img class="img-responsive pull-right" src="img/payment.png" alt="payment-method" />
                                    </div> -->
                                    <!-- PAYMENT-METHOD END -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER-TOP-AREA END -->
    <!-- COPYRIGHT-AREA START -->
    <footer class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copy-right">
                        <address>Copyright © 2022 <a href="/">Trần Văn Độ</a> K13_HAUI</address>
                    </div>
                    <div class="scroll-to-top">
                        <a href="#" class="bstore-scrollertop"><i class="fa fa-angle-double-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- COPYRIGHT-AREA END -->
</div>