<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="header">
<!--    Thông báo-->
    <div id="pageMessages">

    </div>
    <!-- HEADER-TOP START -->
    <div class="header-top" >
        <div class="container">
            <div class="row">
                <!-- HEADER-LEFT-MENU START -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="header-left-menu">

                    </div>
                </div>
                <!-- HEADER-LEFT-MENU END -->
                <!-- HEADER-RIGHT-MENU START -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="header-right-menu">
                        <nav>
                            <th:block th:if="${isLogined==false}">
                                <ul class="list-inline">
                                    <li><a th:href="@{/register}">Đăng ký</a></li>
                                    <li><a th:href="@{/login.html}">Đăng nhập</a></li>
                                </ul>
                            </th:block>
                            <th:block th:if="${isLogined==true}">
                                <div class="dropdown">
                                    <p class="nut_dropdown" th:text="'Xin chào, '+${userLogined.fullName}+ '▾'">Chào, Trần Văn Độ ▾</p>
                                    <div class="noidung_dropdown">
                                        <a href="/per/manage_acc">Tài khoản</a>
                                        <a href="/logout.html">Đăng xuất</a>
                                    </div>
                                </div>
                            </th:block>

                        </nav>
                    </div>
                </div>
                <!-- HEADER-RIGHT-MENU END -->
            </div>
        </div>
    </div>
    <!-- HEADER-TOP END -->
    <!-- HEADER-MIDDLE START -->
    <section class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- LOGO START -->
                    <div class="logo">
                        <a href="/"><img id="logo-perfume" th:src="@{/user/img/logo-perfume.png}" alt="perfume logo" /></a>
                    </div>

                    <a th:href="@{/per/product_cart}" class="a-cart">
                        <div class="do-cart">
                            <div id="ex3">
								<span class="p1 fa-stack fa-2x has-badge" id="total-pro-cart" th:data-count="${totalProInCart}">
								    <i class="p2 fa fa-circle fa-stack-2x"></i>
                                    <i class="p3 fa fa-shopping-cart fa-stack-1x fa-inverse" data-count="5"></i>
								</span>
                            </div>

                            <div id="ex1">
                                <i class="fa fa-envelope fa-5x fa-border icon-grey badge"></i>
                            </div>
                        </div>
                    </a>


                    <!-- HEADER-RIGHT-CALLUS END -->
                    <!-- CATEGORYS-PRODUCT-SEARCH START -->
                    <div class="categorys-product-search">
                        <form id="search-form-per" th:action="@{/products}" method="get" class="search-form-cat">
                            <div class="search-product form-group">
                                <input type="hidden" name="type" value="4">
                                <input type="text" class="form-control search-form" name="query" id="search-per" placeholder="Tìm kiếm sản phẩm... " />
                                <button class="search-button" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- CATEGORYS-PRODUCT-SEARCH END -->
                </div>
            </div>
        </div>
    </section>
    <!-- HEADER-MIDDLE END -->
    <!-- MAIN-MENU-AREA START -->
    <header class="main-menu-area">
        <div class="container">
            <div class="row">

                <!-- MAINMENU START -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding-right menuarea">
                    <div class="mainmenu">
                        <nav>
                            <ul class="list-inline mega-menu">
                                <li th:class="${typeMenu==1}?active"><a th:href="@{/}">Trang chủ</a></li>

                                <li th:class="${typeMenu==2}?active">
                                    <a th:href="@{/products(type=1,menu=2)}">Thương hiệu</a>
                                    <!-- DRODOWN-MEGA-MENU START -->
                                    <div class="drodown-mega-menu" id="list-trademark-test">
                                        <!--                                           list thương hiệu load từ ajax-->
                                        <!--                                            <div class="right-mega col-xs-3">-->
                                        <!--                                                <div class="mega-menu-list">-->
                                        <!--                                                    <ul>-->
                                        <!--                                                        <li><a href="shop-gird.html">T-shirts</a></li>-->
                                        <!--                                                        <li><a href="shop-gird.html">clothing</a></li>-->
                                        <!--                                                        <li><a href="shop-gird.html">Delivery</a></li>-->
                                        <!--                                                        <li><a href="shop-gird.html">clothing</a></li>-->
                                        <!--                                                        <li><a href="shop-gird.html">Delivery</a></li>-->
                                        <!--                                                    </ul>-->
                                        <!--                                                </div>-->


                                    </div>
                                    <!-- DRODOWN-MEGA-MENU END -->
                                </li>
                                <li  th:class="${typeMenu==3} ? active"><a th:href="@{/products(type=1,menu=3)}">Nước hoa</a>
                                    <!-- DROPDOWN MENU START -->
                                    <div class="home-var-menu">
                                        <ul class="home-menu">
                                            <li><a href="/products?type=3&se=Nam&menu=3">Nam</a></li>
                                            <li><a href="/products?type=3&se=Nữ&menu=3">Nữ</a></li>
                                            <li><a href="/products?type=3&se=Unisex&menu=3">Unisex</a></li>
                                        </ul>
                                    </div>
                                    <!-- DROPDOWN MENU END -->
                                </li>
                                <li th:class="${typeMenu==4}?active"><a th:href="@{/news(curPage=1)}">Tin tức</a></li>
                                <li th:class="${typeMenu==5}?active"><a th:href="@{/introduce}">Giới thiệu</a></li>
                                <li th:class="${typeMenu==6}?active"><a th:href="@{/contact}">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- MAINMENU END -->
            </div>
            <div class="row">
                <!-- MOBILE MENU START -->
                <div class="col-sm-12 mobile-menu-area">
                    <div class="mobile-menu hidden-md hidden-lg" id="mob-menu">
                        <span class="mobile-menu-title">MENU</span>
                        <nav>
                            <ul>
                                <li><a th:href="@{/}">Trang chủ</a>
                                <li><a th:href="@{/products(type=1,menu=2)}">Thương hiệu</a>
                                <li><a th:href="@{/products(type=1,menu=3)}">Nước hoa</a>
                                    <ul>
                                        <li><a href="/products?type=3&se=Nam&menu=3">Nam</a></li>
                                        <li><a href="/products?type=3&se=Nữ&menu=3">Nữ</a></li>
                                        <li><a href="/products?type=3&se=Unisex&menu=3">Unisex</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{/news(curPage=1)}">Tin tức</a>
                                <li><a th:href="@{/introduce}">Giới thiệu</a>
                                <li><a th:href="@{/contact}">Liên hệ</a>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- MOBILE MENU END -->
            </div>
        </div>
    </header>
    <!-- MAIN-MENU-AREA END -->
</div>
</body>
</html>